<div class="row"  *ngIf="!popUp">
    <div class="col-12">
        <div class="content-header">Bandeja de Prestamos y Devoluciones </div>
    </div>
</div>

<section id="tooltip-validation">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="needs-validation" [formGroup]="Prestamosform" novalidate>
                             <div class="form-row">
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <label for="NumeroPrestamo" >Numero. Prestamo </label>
                                        <input type="text" name="NumeroPrestamo" id="NumeroPrestamo"
                                       formControlName="NumeroPrestamo" class="form-control"
                                       placeholder="Nro. Prestamo">
                                     </div>   

                                <div class="col-lg-4 col-md-4 col-sm-6">
                                  <label for="MonedaPrestamos">MONEDA PRESTAMOS</label>
                                      <ng-select [items]="listTipoMonedaPrestamos" formControlName="MonedaPrestamos"
                                          class="form-control" bindLabel="Label" bindValue="Codigo" id="MonedaPrestamos"
                                          placeholder="Seleccionar Moneda Prestamo"
                                          [ngClass]="{ 'is-invalid': f.MonedaPrestamos.invalid, 'is-valid': !f.MonedaPrestamos.invalid }"
                                          [(ngModel)]="SelectedTipoMonedaPrestamos">
                                      </ng-select>
                                  </div>
  
                                  <div class="col-lg-4 col-md-6 col-sm-6">
                                    <label for="ImportePrestamo" >IMPORTE </label>
                                        <input type="number" name="ImportePagos" id="ImportePrestamo"
                                       formControlName="ImportePrestamo" class="form-control"
                                       placeholder="Importe Prestamos">
                                </div> 
                               
                             
                            </div> 

                            <div class="form-row">

                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <label for="SaldoPrestamo" >SALDO </label>
                                        <input type="number" name="SaldoPrestamo" id="SaldoPrestamo"
                                       formControlName="SaldoPrestamo" class="form-control"
                                       placeholder="Saldo Prestamo">
                                </div> 

                                <div class="col-md-4 mb-2 form-group mb-2">
                                    <label for="EstadoPrestamo">Estado Prestamo </label>
                                        <ng-select [items]="listTipoEstadoPrestamo" formControlName="EstadoPrestamo"
                                            class="form-control" bindLabel="Label" bindValue="Codigo" id="EstadoPrestamo"
                                            placeholder="Seleccionar Estado Prestamo"
                                            [ngClass]="{ 'is-invalid': f.EstadoPrestamo.invalid, 'is-valid': !f.EstadoPrestamo.invalid }"
                                            [(ngModel)]="selectedTipoEstadoPrestamo">
                                        </ng-select>
                                    </div>
                                    <div class="col-md-4 mb-2 form-group mb-2">
                                        <label for="FondoPrestamo">Fondos Prestamos </label>
                                            <ng-select [items]="listTipoEstadoFondos" formControlName="FondoPrestamo"
                                                class="form-control" bindLabel="Label" bindValue="Codigo" id="FondoPrestamo"
                                                placeholder="Seleccionar Fondo Prestamos "
                                                [ngClass]="{ 'is-invalid': f.FondoPrestamo.invalid, 'is-valid': !f.FondoPrestamo.invalid }"
                                                [(ngModel)]="selectedTipoEstadoFondos">
                                            </ng-select>
                                        </div>
                                   </div>

                            <div class="form-row">

                                <div class="col-md-4 mb-3 form-group mb-2">
                                    <label for="FechaPrestamo" class="form-label">Fecha Prestamo</label>
                                    <input type="date" class="form-control" formControlName="FechaPrestamo" id="validationTooltip07"
                                    name="FechaPrestamo" placeholder="date" date
                                    [ngClass]="{ 'is-invalid': submitted && f.FechaPrestamo.invalid, 'is-valid': submitted && !f.FechaPrestamo.invalid }"
                                    (blur)="compareFechas()" />
                                  <small class="form-text text-muted danger"
                                    *ngIf="errorFecha.isError">{{errorFecha.errorMessage}}</small>
                                    </div>
                    

                              <div class="col-md-4 mb-4 form-group mb-2">
                                <label for="basicInput" style="font-size: 0.7rem;">Detalle Prestamo</label>
                                <div class="position-relative has-icon-left">
                                  <textarea id="bordered-form-6" rows="4" class="form-control" maxlength="1000" name="notes"
                                    formControlName="DetalleServicioPrestamos">
                                        </textarea>
                                  <div class="form-control-position">
                                    <i class="ft-file"></i>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 mb-4 form-group mb-2">
                                <label for="basicInput" style="font-size: 0.7rem;">Observaciones</label>
                                <div class="position-relative has-icon-left">
                                  <textarea id="bordered-form-6" rows="4" class="form-control" maxlength="1000" name="notes"
                                    formControlName="ObservacionesPrestamo">
                                        </textarea>
                                  <div class="form-control-position">
                                    <i class="ft-file"></i>
                                  </div>
                                </div>
                              </div>
                      
                            </div>
                        
                            <small class="form-text text-muted danger"
                            *ngIf="errorGeneral.isError">{{errorGeneral.errorMessage}}</small>
                                <button class="btn btn-primary mr-1 mb-1" type="submit" (click)="Buscar()">Buscar</button>
                                <button class="btn btn-primary mr-1 mb-1" type="button" data-toggle="tooltip"
                                data-placement="top" (click)="Seleccionar(selected)"
                                [disabled]="!rows.length || !selected.length" *ngIf="popUp">Seleccionar</button>
                            <button class="btn btn-primary mr-1 mb-1" type="button" (click)="Nuevo()">Nuevo</button>
                            <button class="btn btn-primary mr-1 mb-1" type="button" [disabled]="selected.length==0 || readonly==true" (click)="anular()"
                            *ngIf="!popUp">Anular</button>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
</div>

<section id="ngx-datatable-filter">
    <div class="row">
        <div class="col-12">
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <fieldset class="form-group">
                            <label>Show
                                <select name="users-list-select"
                                    class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                                    (click)="updateLimit($event)">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label>
                            <label for="ngx-filter-ref" class="float-right">Search:
                                <input id="ngx-filter-ref"
                                    class="form-control form-control-sm d-inline-block width-200 ml-1" type="text"
                                    (keyup)="filterUpdate($event)" />
                            </label>
                        </fieldset>
                        <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" rowHeight="auto" [limit]="limitRef" [rows]="rows" [scrollbarH]="true"
                            [selected]="selected" [selectionType]="'single'" [selectCheck]="onSelectCheck">

                            <ngx-datatable-column name="Numero Prestamo" prop="Numero" width="90" *ngIf="!popUp">
                                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                    <div class="d-flex align-items-center">
                                        <div class="cell-line-height">
                                                <a class="line-height-1 mb-0"
                                                [routerLink]="['/planta/operaciones/serviciosprestamos-edit', row.PrestamoPlantaId]">{{
                                                name }}</a>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <!--<ngx-datatable-column name="Numero" prop="Numero" width="90" *ngIf="popUp">
                            </ngx-datatable-column>-->   
                            <ngx-datatable-column name="Fecha Prestamos" prop="FechaRegistro" width="60">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Detalle Prestamos" prop="DetallePrestamo" width="90">
                            </ngx-datatable-column>                          
                            <ngx-datatable-column name="Fondos" prop="FondoPrestamo" width="60">
                            </ngx-datatable-column>
                           
                            <ngx-datatable-column name="Moneda" prop="Moneda" width="60">
                            </ngx-datatable-column>                            
                            <ngx-datatable-column name="Importe Prestamo" prop="Importe" width="60">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Importe Devolucion" prop="ImporteProcesado" width="60">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Saldo" prop="Saldo" width="60">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Observaciones" prop="Observaciones" width="60">
                            </ngx-datatable-column> 
                            <ngx-datatable-column name="Estado" prop="Estado" width="60">
                            </ngx-datatable-column>
                            <!--<ngx-datatable-column name="Estado" prop="EstadoId" width="60">
                              <ng-template let-status="value" ngx-datatable-cell-template>
                                <div class="badge" [ngClass]="{
                                        'bg-light-warning': status == 'Anulado',
                                        'bg-light-warning': status == 'Cancelado',
                                        'bg-light-warning': status == 'deuda'
                                      }">
                                  {{ status }}
                                </div>
                              </ng-template>
                            </ngx-datatable-column>-->
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  