<div *ngFor="let item of global.getOlvidarPass()">
<div class="inner-container bg-white section-gap-lg">
  <div class="container">
    <div fxLayout='row wrap' fxLayoutAlign="center center">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="70" fxFlex.xl="70">
        <div fxLayout='row wrap' fxLayoutAlign="center center">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <div class="form-img forgot-password-image">
            </div>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <mat-card class="forgot-password form-margin">
              <h3 class="accent-color">{{item?.title | translate}}</h3>
              <h4>{{item?.subtitle | translate}}</h4>
              <form  [formGroup] = "registerForm" (ngSubmit) = "submitForm()">
                <div class="mb-4">
                  <mat-form-field class="w-100">
                    <input matInput type="email" formControlName="email" [placeholder]="item?.text1 | translate" required>
                  </mat-form-field>
                </div>
                <div class="mb-4">
                    <mat-form-field class="w-100">
                        <input matInput type="email" formControlName="emailRepetir" [placeholder]="item?.text2 | translate" required>
                      </mat-form-field>
                </div>
                <button color="accent" class="button-lg mb-3" mat-raised-button>{{item?.boton | translate}}</button>               
               <div> {{item?.cuenta | translate}} <a class="accent-color" [routerLink]="['/session/signin']">{{item?.sesion | translate}}</a></div>
              </form>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>