

<div class="mt-2" id="account" [formGroup]="pesadoFormGroup">


  <div class="row">
    <div class="col-12 col-md-6">
      <ul class="list-group" id="multiple-list-group-a">
        <li class="list-group-item draggable">
          <div class="media">
            <div class="media-body">
              <div class="form-row">
                <div class="col-md-6 mb-6 form-group mb-2">
                  <label for="validationTooltip04">Motivo Ingreso</label>
                  <ng-select [items]="listaMotivo" bindLabel="name" [(ngModel)]="selectedMotivo" class="form-control"
                    placeholder="Seleccionar Motivo" formControlName="motivo" bindLabel="Label" bindValue="Codigo"
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.motivo.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.motivo.invalid }">
                  </ng-select>
                </div>
                <div class="col-md-6 mb-6 form-group mb-2">
                  <label for="validationTooltip04">Tipo</label>
                  <ng-select [items]="listaTipo" bindLabel="name" [(ngModel)]="selectedTipo" class="form-control"
                    placeholder="Seleccionar Tipo" formControlName="tipo" (change)="changeTipo($event)"
                    bindLabel="Label" bindValue="Codigo"
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.tipo.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.tipo.invalid }">
                  </ng-select>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6 mb-6 form-group mb-2">
                  <label for="validationTooltip04">Empaque</label>
                  <ng-select [items]="listaEmpaque" bindLabel="name" [(ngModel)]="selectedEmpaque" class="form-control"
                    placeholder="Seleccionar Empaque" formControlName="empaque" (change)="changeEmpaque($event)"
                    bindLabel="Label" bindValue="Codigo"
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.empaque.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.empaque.invalid }">
                  </ng-select>
                </div>
                <div class="col-md-6 mb-6 form-group mb-2">
                  <label for="validationTooltip04">Peso x Saco</label>
                  <input type="number" minlength="1" maxlength="20" formControlName="pesoSaco" class="form-control"
                    id="validationTooltip08" placeholder="Peso x Saco"
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.pesoSaco.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.pesoSaco.invalid }">
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6 mb-6 form-group mb-2">
                  <label for="validationTooltip04">Cantidad</label>
                  <input type="number" minlength="1" maxlength="20" formControlName="cantidad" class="form-control"
                    id="validationTooltip04" placeholder="Cantidad" (change)="changeCantidad()"
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.cantidad.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.cantidad.invalid }">
                </div>
                <div class="col-md-6 mb-6 form-group mb-2">
                  <label for="validationTooltip04">Peso Bruto KG</label>
                  <input type="number" minlength="1" maxlength="20" formControlName="kilosBrutos" class="form-control"
                    id="validationTooltip04" placeholder="Peso Bruto KG" (change)="changePesoBruto()"
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.kilosBrutos.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.kilosBrutos.invalid }">
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-6 mb-6 form-group mb-2" style="display: none;">
                  <label for="validationTooltip04">Calidad</label>
                  <ng-select [items]="listaCalidad" bindLabel="name" [(ngModel)]="selectedCalidad" class="form-control"
                    placeholder="Seleccionar Calidad" formControlName="calidad" bindLabel="Label" bindValue="Codigo"
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.calidad.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.calidad.invalid }">
                  </ng-select>
                </div>

              </div>

              <div class="form-row">
                <div class="col-md-6 mb-6 form-group mb-2">
                  <label for="validationTooltip04">Tara</label>
                  <input type="number" minlength="1" maxlength="20" formControlName="tara" class="form-control"
                    id="validationTooltip04" placeholder="Tara" disabled
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.tara.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.tara.invalid }">
                </div>
                <div class="col-md-6 mb-6 form-group mb-2">
                  <label for="validationTooltip04">Kilos Netos</label>
                  <input type="number" minlength="1" maxlength="20" formControlName="kilosNetos" class="form-control"
                    id="validationTooltip04" placeholder="Kilos Netos" disabled
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.kilosNetos.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.kilosNetos.invalid }">
                </div>
     
          
               <!--- <div class="col-md-6 mb-6 form-group mb-2" style="display: none;">
                  <label for="validationTooltip04">Grado</label>
                  <ng-select [items]="listaGrado" bindLabel="name" [(ngModel)]="selectedGrado" class="form-control"
                    placeholder="Seleccionar Grado" formControlName="grado" bindLabel="Label" bindValue="Codigo"
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.grado.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.grado.invalid }">
                  </ng-select>
                </div>-->

              </div>

              <div class="form-row">
                <div class="col-md-6 mb-6 form-group mb-2" style="display: none;" >
                  <label for="validationTooltip04">Cantidad Defectos</label>
                  <input type="number" minlength="1" maxlength="20" formControlName="cantidadDefectos"
                    class="form-control" id="validationTooltip08" placeholder="Cantidad Defectos"
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.cantidadDefectos.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.cantidadDefectos.invalid }">
                </div>
                <div class="col-md-6 mb-6 form-group mb-2">
                  <label for="validationTooltip04">% Humedad Recepcion </label>
                  <input type="number" minlength="1" maxlength="20" formControlName="porcentajeHumedad"
                    class="form-control" id="validationTooltip08" placeholder="% Humedad"
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.porcentajeHumedad.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.porcentajeHumedad.invalid }">
                </div>
         

              </div>

              <div class="form-row">
                <div class="col-md-6 mb-6 form-group mb-2" style="display: none;">
                  <label for="validationTooltip04">% Rendimiento</label>
                  <input type="number" minlength="1" maxlength="20" formControlName="porcentajeRendimiento"
                    class="form-control" id="validationTooltip04" placeholder="% Rendimiento"
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.porcentajeRendimiento.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.porcentajeRendimiento.invalid }">
                </div>


              </div>

            </div>
          </div>

        </li>
      </ul>

    </div>

  

    <ng-template #modalTransportista let-c="close" let-d="dismiss">
      <div class="modal-header" style="text-align: center;">
    
        <h4 class="modal-title" style="font-size: 1rem;">Bandeja de Transportista</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form [formGroup]="consultaTransportistas" class="needs-validation"
          style="padding-left: 0.3rem; padding-right: 0.3rem;">
          <ngx-spinner></ngx-spinner>
          <div class="row"
            style="text-align: center;background-color: #975AFF; border-top-left-radius: 0.35rem; border-top-right-radius: 0.35rem;">
            <div class="card-subtitle-form modal-title">Criterios de Busqueda</div>
          </div>
         
          <div class="row" style="margin-top: 1rem;">
            <div class="col-12 col-md-6">
              <div class="form-group row">
                
                <label for="validationTooltip08" class="col-md-3 col-form-label card-text2"> RUC </label>
                <div class="col-md-9">
                  <input type="text" minlength="8" maxlength="20" formControlName="ruc" class="form-control"
                    id="validationTooltip08" placeholder="Ruc"
                    [ngClass]="{ 'is-invalid': submittedT && fT.ruc.invalid, 'is-valid': submittedT && !fT.ruc.invalid }">
                  <small class="form-text text-muted danger" *ngIf="fT.ruc.errors?.minlength">Ingrese 8 a 20
                    letras</small>
                  <small class="form-text text-muted danger" *ngIf="fT.ruc.errors?.maxlength">Ingrese 8 a 20
                    letras</small>
                </div>
    
                
                
              </div>
    
    
            </div>
            <div class="col-12 col-md-6">
    
              <div class="form-group row">
                <label for="validationTooltip08" class="col-md-4 col-form-label card-text2">Razón Social</label>
                <div class="col-md-8">
                  <input type="text" minlength="5" maxlength="100" formControlName="rzsocial" class="form-control"
                    id="validationTooltip08" placeholder="Razon Social"
                    [ngClass]="{ 'is-invalid': submittedT && fT.rzsocial.invalid, 'is-valid': submittedT && !fT.rzsocial.invalid }">
                  <small class="form-text text-muted danger" *ngIf="fT.rzsocial.errors?.minlength">Ingrese 5 a 100
                    letras</small>
                  <small class="form-text text-muted danger" *ngIf="fT.rzsocial.errors?.maxlength">Ingrese 5 a 100
                    letras</small>
                </div>
    
              </div>
    
            </div>
          </div>
       
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-md-10">
                  <small class="form-text text-muted danger"
                    *ngIf="errorTransportista.isError">{{errorTransportista.errorMessage}}</small>
                </div>
                <div class="col-md-2 justify-content-end">
                  <button class="btn btn-primary mr-1 mb-1" type="submit"
                    (click)="buscarTransportista()">Buscar</button>
                </div>
    
              </div>
            </div>
          </div>
       
          <div class="row">
            <div class="col-12">
              <fieldset class="form-group">
                <label style="font-size: 0.6rem;">Show
                  <select name="users-list-select" style="font-size: 0.8rem;"
                    class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                    (click)="updateLimitT($event)">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  entries</label>
                <label for="ngx-filter-ref" class="float-right" style="font-size: 0.6rem;">Search:
                  <input id="ngx-filter-ref" class="form-control form-control-sm d-inline-block width-200 ml-1"
                    type="text" (keyup)="filterUpdateT($event)" />
                </label>
              </fieldset>
              
              <ngx-datatable class="bootstrap core-bootstrap ngx-datatable-proveedor" #tableTranspotistas
                [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                [limit]="limitRefT" [rows]="rowsT" style="font-size: 0.8rem;" [selectCheck]="singleSelectCheck"
                [selected]="selectedT" [selectionType]="'single'" (dblclick)="seleccionarTransportista(selectedT)">
                <ngx-datatable-column name="Razon Social" prop="RazonSocial" width="20">
    
                </ngx-datatable-column>
                <ngx-datatable-column name="Ruc" prop="Ruc" width="20">
                </ngx-datatable-column>
                <ngx-datatable-column name="Conductor" prop="Conductor" width="60">
                </ngx-datatable-column>

                <ngx-datatable-column name="N° Constancia MTC" prop="NumeroConstanciaMTC" width="40">
                </ngx-datatable-column>
                <ngx-datatable-column name="Licencia" prop="Licencia" width="60">
                </ngx-datatable-column>
                <ngx-datatable-column name="Marca Tractor" prop="MarcaTractor" width="25">
                </ngx-datatable-column>
                <ngx-datatable-column name="Placa Tractor" prop="PlacaTractor" width="25">
                </ngx-datatable-column>
                <ngx-datatable-column name="Peso Bruto" prop="PesoBruto" width="25">
                </ngx-datatable-column>
                <ngx-datatable-column name="Peso Neto" prop="PesoNeto" width="25">
                </ngx-datatable-column>
                <ngx-datatable-column name="Carga Util" prop="CargaUtil" width="25">
                </ngx-datatable-column>
                <ngx-datatable-column name="Longitud" prop="Longitud" width="25">
                </ngx-datatable-column>
                <ngx-datatable-column name="Altura" prop="Altura" width="25">
                </ngx-datatable-column>
                <ngx-datatable-column name="Ancho" prop="Ancho" width="25">
                </ngx-datatable-column>
    
              </ngx-datatable>

              
            </div>
          </div>
   
        </form>
        
      </div>
    </ng-template>

    <div class="col-12 col-md-6">
      <ul class="list-group" id="multiple-list-group-a">
        <li class="list-group-item draggable">
          <div class="media">
            <div class="media-body">
              <div class="d-flex justify-content-between align-items-center">
                <ngx-spinner></ngx-spinner>
              </div>
              <div class="form-row">
                <div class="col-md-6 mb-6 form-group mb-2">

                  <label for="validationTooltip04">Transportista</label>
                  <input type="text" minlength="1" maxlength="50" formControlName="transportista" class="form-control"
                    id="validationTooltip04" placeholder="Transportista"
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.transportista.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.transportista.invalid }">

                  
                </div>
                
                <div class="col-12 col-md-2" style="padding-left: 0cm;">
                  <button type="button" (click)="openModalTransportista(modalTransportista)" class="btn btn-default"
                    style="margin-top: 1.5rem;">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
                
                <div class="col-md-6 mb-6 form-group mb-2">
                  <label for="validationTooltip04">Ruc</label>
                  <input type="text" minlength="1" maxlength="20" formControlName="ruc" class="form-control"
                    id="validationTooltip08" placeholder="Ruc"
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.ruc.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.ruc.invalid }">
                </div>

              </div>

              <div class="form-row">
                <div class="col-md-6 mb-6 form-group mb-2">
                  <label for="validationTooltip04">Placa Vehiculo</label>
                  <input type="text" minlength="1" maxlength="20" formControlName="placaVehiculo" class="form-control"
                    id="validationTooltip04" placeholder="Placa Vehiculo"
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.placaVehiculo.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.placaVehiculo.invalid }">
                </div>
                <div class="col-md-6 mb-6 form-group mb-2">
                  <label for="validationTooltip04">Chofer</label>
                  <input type="text" minlength="1" maxlength="50" formControlName="chofer" class="form-control"
                    id="validationTooltip08" placeholder="Chofer"
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.chofer.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.chofer.invalid }">
                </div>

              </div>

              <div class="form-row">
                <div class="col-md-6 mb-6 form-group mb-2">
                  <label for="validationTooltip04">Nro Brevete</label>
                  <input type="text" minlength="1" maxlength="20" formControlName="numeroBrevete" class="form-control"
                    id="validationTooltip04" placeholder="Nro Brevete"
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.numeroBrevete.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.numeroBrevete.invalid }">
                </div>
                
                <div class="col-md-6 mb-6 form-group mb-2">
                  <label for="validationTooltip04">Marca</label>
                  <input type="text" minlength="1" maxlength="20" formControlName="marca" class="form-control"
                    id="validationTooltip04" placeholder="Marca"
                    [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.marca.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.marca.invalid }">
                </div>

              </div>
              <div class="form-group row last mb-3">
                <label class="col-md-3 label-control card-text" for="bordered-form-6">Observaciones</label>
                <div class="col-md-9">
                  <div class="position-relative has-icon-left">
                    <textarea id="bordered-form-6" rows="4" formControlName="observacion" class="form-control"
                      name="notes"  maxlength="1000"
                      [ngClass]="{ 'is-invalid': submittedEdit &&  pesadoFormGroup.controls.observacion.invalid, 'is-valid': submittedEdit && !pesadoFormGroup.controls.observacion.invalid }"></textarea>
                    <div class="form-control-position">
                      <i class="ft-file"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    


  </div>
</div>