<section class="users-edit">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header"  style="margin-bottom: 2rem;">
          <form novalidate>
                      <div class="row">
                        <div class="col-12 col-md-8"> 
                            <div class="card-title-empresa">COOPERATIVA AGROECOLOGICA INDUSTRIAL JUAN SANTOS ATAHUALPA</div>
                            <div class="card-subtitle-empresa">Jr. Ramon Castilla Nº336 - Pichanaqui - Chanchamayo - Junin</div>
                            <div class="card-subtitle-empresa">RUC: 20568333820
                            </div>
                        </div>
                        <div class="col-12 col-md-2">
                          <div class="form-group" style="margin-bottom: 0.5rem !important;">
                            <div class="controls">
                              <label class="card-forms" for="users-edit-username">N° DE GUIA</label>
                            </div>
                          </div>
                          <div class="form-group" style="margin-bottom: 0.5rem !important;">
                            <div class="controls">
                              <label  class="card-forms" for="users-edit-name">N° GUIA REFERENCIA</label>
                            </div>
                          </div>
                          <div class="form-group" style="margin-bottom: 0.5rem !important;">
                            <div class="controls">
                              <label  class="card-forms" for="users-edit-email">FECHA</label>
                            </div>
                          </div>
                          <div class="form-group" style="margin-bottom: 0.5rem !important;">
                            <div class="controls">
                              <label  class="card-forms" for="users-edit-email">ESTADO</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-2">
                          <div class="form-group" style="margin-bottom: 0.5rem !important;">
                            <div class="controls">
                              <input type="text" style="height:20px" id="users-edit-username" class="form-control" required aria-invalid="false">
                            </div>
                          </div>
                          <div class="form-group" style="margin-bottom: 0.5rem !important;">
                            <div class="controls">
                              <input type="text" style="height:20px" id="users-edit-name" class="form-control" required aria-invalid="false">
                            </div>
                          </div>
                          <div class="form-group" style="margin-bottom: 0.5rem !important;">
                            <div class="controls">
                              <div class="input-group">
                                <input class="form-control"  style="height:20px"  placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="popupModel" ngbDatepicker
                                #d2="ngbDatepicker">
                                <div class="input-group-append">
                                  <div class="input-group-text" style="height: 20px;" (click)="d2.toggle()">
                                    <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group" style="margin-bottom: 0.5rem !important;">
                              <div class="controls">
                                <ng-select style="height: 20px !important" [items]="listaEstado" bindLabel="name" [(ngModel)]="selectedEstado">
                                </ng-select>
                              </div>

                          </div>
                        </div>
                      </div>
                      <div class="row" style="margin-right: 6rem; margin-left: 6rem; text-align: center; margin-top: 2rem; background-color: #975AFF; border-top-left-radius: 0.35rem; border-top-right-radius: 0.35rem;">
                        <div class="card-subtitle-form">DATOS DEL PROVEEDOR</div>
                      </div>

                      <div class="row" style="margin-right: 6rem; margin-left: 6rem;">
                        <div class="col-12 col-md-5">
                          <label for="basicInput" style="font-size: 0.7rem;">Nombre</label>
                          <input type="text" class="form-control" id="basicInput"  placeholder="Enter Nombre">
                          <label for="basicInput" style="font-size: 0.7rem;">Doc. Identidad</label>
                          <input type="text" class="form-control" id="basicInput"  placeholder="Enter Doc. Identidad">
                          <label for="basicInput" style="font-size: 0.7rem;">Tipo</label>
                          <input type="text" class="form-control" id="basicInput"  placeholder="Enter Tipo">
                          <label for="basicInput" style="font-size: 0.7rem;">Codigo</label>
                          <input type="text" class="form-control" id="basicInput"  placeholder="Enter Codigo">
                        </div>
                        <div class="col-12 col-md-2">
                          <ng-template #content let-c="close" let-d="dismiss" style="max-width: 650px !important;">
                            <div class="modal-header" style="text-align: center;">
                              <h4 class="modal-title" style="font-size: 1rem;">Buscador de Proveedor Aprobados (LPA)</h4>
                              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form novalidate style="padding-left: 0.3rem; padding-right: 0.3rem;">
                                <div class="row" style="text-align: center; margin-top: 1rem; background-color: #F7F7F8;">
                                  <div class="card-subtitle-form card-text">Criterios de Busqueda</div>
                                </div>
                                <div class="row" style="margin-top: 0.5rem;">
                                  <div class="col-12 col-md-4">
                                    
                                            <div class="form-group row" style="margin-bottom: 0.1rem !important;">
                                              <label class="col-md-3 col-form-label card-text2" for="horizontal-form-1"  style="font-size: 0.6rem;">Tipo</label>
                                              <div class="col-md-9">
                                                <input type="text" style="height: 1.3rem;" class="form-control square" id="horizontal-form-1" name="first-name">
                                              </div>
                                            </div> 
                                            <div class="form-group row" style="margin-bottom: 0.1rem !important;">
                                              <label class="col-md-3 col-form-label card-text2" for="horizontal-form-1"  style="font-size: 0.6rem;">Ruc</label>
                                              <div class="col-md-9">
                                                <input type="text" style="height: 1.3rem;" class="form-control square" id="horizontal-form-1" name="first-name">
                                              </div>
                                            </div> 
                                            <div class="form-group row" style="margin-bottom: 0.1rem !important;">
                                              <label class="col-md-3 col-form-label card-text2" style="font-size: 0.6rem;" for="horizontal-form-1">Dni</label>
                                              <div class="col-md-9">
                                                <input  style="height: 1.3rem;" type="text" class="form-control square" id="horizontal-form-1" name="first-name">
                                              </div>
                                            </div>
                                            <div class="form-group row" style="margin-bottom: 0.1rem !important;">
                                              <label class="col-md-3 col-form-label card-text2" for="horizontal-form-1"  style="font-size: 0.6rem;">Socio</label>
                                              <div class="col-md-9">
                                                <input type="text"  style="height: 1.3rem;" class="form-control square" id="horizontal-form-1" name="first-name">
                                              </div>
                                            </div>                                        
                                    
                                  </div>
          
                                  <div class="col-12 col-md-8">
                                    
                                            <div class="form-group row" style="margin-bottom: 0.1rem !important;">
                                              <label class="col-md-3 col-form-label card-text" for="horizontal-form-1" style="font-size: 0.6rem;">Nombre/Rz. Social</label>
                                              <div class="col-md-9">
                                                <input type="text"  style="height: 1.3rem;" class="form-control square" id="horizontal-form-1" name="first-name">
                                              </div>
                                            </div> 
                                  </div>
                                </div>
                                
                                  <div class="row" style="text-align: center; margin-top: 1rem; background-color: #F7F7F8;">
                                    <div class="card-subtitle-form card-text">Resultado de la Busqueda</div>
                                  </div>
                                  <div class="row" style="margin-top: 0.5rem;">
                                  <div class="col-12 col-md-12">
                                    <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50"
                                    [footerHeight]="50" rowHeight="auto" [limit]="limitRef" [rows]="rows"
                                    [columns]="columns" style="font-size: 0.7rem; max-width: 650px !important;">
                                    <ngx-datatable-column name="Numero Guia" prop="Numero" width="40">
                    
                                        <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                            <div class="d-flex align-items-center">      
                                              <div class="cell-line-height">
                                                <a class="line-height-1 mb-0" routerLink="/pages/users-view">{{ name }}</a>
                                              </div>
                                            </div>
                                          </ng-template> 
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Codigo Socio" prop="CodigoSocio" width="30"></ngx-datatable-column>
                                    <ngx-datatable-column name="Tipo Documento" prop="TipoDocumento" width="30"></ngx-datatable-column>
                                    <ngx-datatable-column name="Numero Documento" prop="TipoDocumento" width="50"></ngx-datatable-column>
                                    <ngx-datatable-column name="Nombre o Razon Social" prop="NombreRazonSocialProveedor" width="120"></ngx-datatable-column>
                                    <ngx-datatable-column name="Fecha" prop="FechaRegistro" width="30"></ngx-datatable-column>
                                    <ngx-datatable-column name="Estado" prop="Estado" width="40">
                                      <ng-template let-status="value" ngx-datatable-cell-template>
                                        <div class="badge" [ngClass]="{
                                            'bg-light-success': status == 'PESADO',
                                            'bg-light-danger': status == 'ANULADO',
                                            'bg-light-warning': status == 'ANALIZADO'
                                          }">
                                          {{ status }}
                                        </div>
                                      </ng-template>
                                    </ngx-datatable-column>
                                  </ngx-datatable>
                              </div>
                                </div>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                            </div>
                          </ng-template>
                          <button type="button" (click)="open(content)" class="btn btn-default">
                            <i class="fa fa-search"></i>
                          </button>
                      </div>
                      <div class="col-12 col-md-5">
                        <label for="basicInput" style="font-size: 0.7rem;">Departamento</label>
                          <input type="text" class="form-control" id="basicInput"  placeholder="Enter Departamento">
                          <label for="basicInput" style="font-size: 0.7rem;">Provincia</label>
                          <input type="text" class="form-control" id="basicInput"  placeholder="Enter Provincia">
                          <label for="basicInput" style="font-size: 0.7rem;">Distrito</label>
                          <input type="text" class="form-control" id="basicInput"  placeholder="Enter Distrito">
                          <label for="basicInput" style="font-size: 0.7rem;">Zona</label>
                          <input type="text" class="form-control" id="basicInput"  placeholder="Enter Zona">
                          <label for="basicInput" style="font-size: 0.7rem;">Predio/Finca</label>
                          <input type="text" class="form-control" id="basicInput"  placeholder="Enter Predio/Finca">
                    </div>
                      </div>
                      <div class="row" style="margin-right: 6rem; margin-left: 6rem; text-align: center; margin-top: 2rem; background-color: #975AFF; border-top-left-radius: 0.35rem; border-top-right-radius: 0.35rem;">
                        <div class="card-subtitle-form">DATOS DEL PRODUCTO</div>
                      </div>
                      <div class="row" style="margin-right: 6rem; margin-left: 6rem;">
                        <div class="col-12 col-md-5">
                          <label for="basicInput" style="font-size: 0.7rem;">TIPO</label>
                          <input type="text" class="form-control" id="basicInput"  placeholder="Enter Nombre">
                          <label for="basicInput" style="font-size: 0.7rem;">SUB TIPO</label>
                          <input type="text" class="form-control" id="basicInput"  placeholder="Enter Doc. Identidad">
                        </div>
                        <div class="col-12 col-md-2">
                          <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                          </button>
                      </div>
                      <div class="col-12 col-md-5">
                        <label for="basicInput" style="font-size: 0.7rem;">FECHA DE COSECHA</label>
                          <input type="text" class="form-control" id="basicInput"  placeholder="Enter Departamento">
                    </div>
                      </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="users-edit">
  <div class="row">
    <div class="col-12">
      <div class="card">
          <div class="card-content">
          <div class="card-body">
            <!-- Nav-tabs -->
            <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-pills justify-content-left">
              <li [ngbNavItem]="1">
                <a ngbNavLink class="nav-link d-flex align-items-center">
                  <span class="d-none d-sm-block">Pesado del Cafe</span>
                </a>
                <ng-template ngbNavContent>
                  <!-- Account content starts -->
                  <div class="mt-2" id="account">

                    <!-- Account form starts -->
                    <form>
                      <div class="row">
                        <div class="col-12 col-md-6">
                          <ul class="list-group" id="multiple-list-group-a" >
                            <li class="list-group-item draggable">
                              <div class="media">
                                <div class="media-body">
                                  <h5 class="mt-0" style="text-align: center;">Pesado del Café</h5>
                                  <div class="form-group row" style="background-color: #F7F7F8; text-align: center; margin-left: 1rem; margin-right: 1rem;">
                                    <label class="col-md-6 col-form-label" for="striped-form">DETALLE</label>
                                    <label class="col-md-6 col-form-label" for="striped-form">VALORES</label>
                                    
                                  </div> 
                                  <div class="form-group row" style="margin-left: 1rem; margin-right: 1rem;">
                                    <label class="col-md-4 col-form-label card-text" for="horizontal-form-1">Unidad Medida</label>
                                    <div class="col-md-8">
                                      <input type="text" class="form-control square" id="horizontal-form-1" name="first-name">
                                    </div>
                                  </div> 
                                  <div class="form-group row" style="margin-left: 1rem; margin-right: 1rem;">
                                    <label class="col-md-4 col-form-label card-text" for="horizontal-form-1">Cantidad</label>
                                    <div class="col-md-8">
                                      <input type="text" class="form-control square" id="horizontal-form-1" name="first-name">
                                    </div>
                                  </div> 
                                  <div class="form-group row" style="margin-left: 1rem; margin-right: 1rem;">
                                    <label class="col-md-4 col-form-label card-text" for="horizontal-form-1">Kilos Brutos</label>
                                    <div class="col-md-8">
                                      <input type="text" class="form-control square" id="horizontal-form-1" name="first-name">
                                    </div>
                                  </div>
                                  <div class="form-group row" style="margin-left: 1rem; margin-right: 1rem;">
                                    <label class="col-md-4 col-form-label card-text" for="horizontal-form-1">Tara</label>
                                    <div class="col-md-8">
                                      <input type="text" class="form-control square" id="horizontal-form-1" name="first-name">
                                    </div>
                                  </div>
                                  <div class="form-group row last mb-3">
                                    <label class="col-md-3 label-control card-text" for="bordered-form-6">Observaciones</label>
                                    <div class="col-md-9">
                                      <div class="position-relative has-icon-left">
                                        <textarea id="bordered-form-6" rows="4" class="form-control" name="notes"></textarea>
                                        <div class="form-control-position">
                                          <i class="ft-file"></i>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                          
                        </div>

                        <div class="col-12 col-md-6">
                          <ul class="list-group" id="multiple-list-group-a" >
                            <li class="list-group-item draggable">
                              <div class="media">
                                <div class="media-body">
                                  <h5 class="mt-0" style="text-align: center;">Analisis Fisico (Rendimiento Exportable)</h5>
                                  <div class="form-group row" style="background-color: #F7F7F8; text-align: center;margin-left: 1rem; margin-right: 1rem;">
                                    <label class="col-md-4 col-form-label" for="horizontal-form-1">Detalle</label>
                                    <label class="col-md-4 col-form-label" for="horizontal-form-1">Gramos</label>
                                    <label class="col-md-4 col-form-label" for="horizontal-form-1">%</label>
                                  </div> 
                                  <div class="form-group row" style="margin-left: 1rem; margin-right: 1rem;">
                                    <label class="col-md-4 col-form-label card-text" for="horizontal-form-1">Exportable</label>
                                    <div class="col-md-4">
                                      <input type="text" class="form-control square" id="horizontal-form-1" name="first-name">
                                    </div>
                                    <div class="col-md-4">
                                      <input type="text" class="form-control square" id="horizontal-form-1" name="first-name">
                                    </div>
                                  </div> 
                                  <div class="form-group row" style="margin-left: 1rem; margin-right: 1rem;">
                                    <label class="col-md-4 col-form-label" for="horizontal-form-1 card-text">Descarte</label>
                                    <div class="col-md-4">
                                      <input type="text" class="form-control square" id="horizontal-form-1" name="first-name">
                                    </div>
                                    <div class="col-md-4">
                                      <input type="text" class="form-control square" id="horizontal-form-1" name="first-name">
                                    </div>
                                  </div>
                                  <div class="form-group row" style="margin-left: 1rem; margin-right: 1rem;">
                                    <label class="col-md-4 col-form-label card-text" for="horizontal-form-1">Cascarilla</label>
                                    <div class="col-md-4">
                                      <input type="text" class="form-control square" id="horizontal-form-1" name="first-name">
                                    </div>
                                    <div class="col-md-4">
                                      <input type="text" class="form-control square" id="horizontal-form-1" name="first-name">
                                    </div>
                                  </div>
                                  <div class="form-group row" style="background-color: #F7F7F8; text-align: center;margin-left: 1rem; margin-right: 1rem;">
                                    <label class="col-md-4 col-form-label" for="horizontal-form-1">Total</label>
                                    <label class="col-md-4 col-form-label" for="horizontal-form-1">0.00</label>
                                    <label class="col-md-4 col-form-label" for="horizontal-form-1">0%</label>
                                  </div> 
                                  <div class="form-group row last mb-3" >
                                    <label class="col-md-3 label-control card-text" for="bordered-form-6">Observaciones</label>
                                    <div class="col-md-9">
                                      <div class="position-relative has-icon-left">
                                        <textarea id="bordered-form-6" rows="4" class="form-control" name="notes"></textarea>
                                        <div class="form-control-position">
                                          <i class="ft-file"></i>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                        <div class="row" style="margin-top: 2rem;" >
                        <div class="col-12 d-flex flex-sm-row flex-column">
                          
                          <label class="col-md-3 col-form-label card-text" for="horizontal-form-1">Responsable</label>
                                    <div class="col-md-5">
                                      <input type="text" class="form-control square" id="horizontal-form-1" name="first-name" value="Soto Torres, Luis">
                                    </div>
                          <div class="col-md-4 justify-content-end !important">
                          <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2">Guardar</button>
                        </div>
                        </div>
                       
                        </div>
                     
                    </form>
                    <!-- Account form ends -->
                  </div>
                  <!-- Account content ends -->

                 
                </ng-template>
                
              </li>
              <li [ngbNavItem]="2">
                <a ngbNavLink class="nav-link d-flex align-items-center">
                  <span class="d-none d-sm-block">Control de Calidad</span>
                </a>
                <ng-template ngbNavContent>
                  
                  <div class="mt-2" id="information">
                   
                  </div>
                 
                </ng-template>
              </li>
              <li [ngbNavItem]="3">
                <a ngbNavLink class="nav-link d-flex align-items-center">
                  <span class="d-none d-sm-block">Nota de Compra</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="mt-2" id="information">
                  </div>
                  
                </ng-template>
              </li>
            </ul>
            <div class="tab-content">
              <div [ngbNavOutlet]="nav"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>