<div class="row">
    <div class="col-12">
        <div class="content-header">{{!vId ? 'NUEVO' : 'MODIFICAR'}} SOCIO</div>
    </div>
</div>
<form class="needs-validation" novalidate [formGroup]="socioEditForm">
    <div class="card border-dark mb-3">
        <div class="card-body">
            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row m-0">
                        <label for="codSocio" class="col-4 col-form-label pr-0">Código Socio</label>
                        <div class="col-8 pl-0">
                            <input type="text" name="codSocio" id="codSocio" formControlName="codSocio"
                                class="form-control" placeholder="Ingresar código de socio" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row m-0">
                        <label for="fecRegistro" class="col-4 col-form-label pr-0" readonly>Fecha de
                            Registro</label>
                        <div class="col-8 pl-0">
                            <input type="date" date name="fecRegistro" id="fecRegistro" formControlName="fecRegistro"
                                class="form-control" placeholder="Seleccionar fecha de registro" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row m-0">
                        <label for="estado" class="col-2 col-form-label pr-0">Estado</label>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="estado" id="activo"
                                    formControlName="estado" value="01" [disabled]="vId == undefined">
                                <label class="form-check-label" for="activo">Activo</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="estado" id="inactivo"
                                    formControlName="estado" value="00" [disabled]="vId == undefined">
                                <label class="form-check-label" for="inactivo">Inactivo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="card border-dark mb-3">
        <div class="card-body">
            <div class="form-row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="form-group row">
                        <label for="productor" class="col-md-2 col-form-label">Productor</label>
                        <div class="col-md-6 pr-0">
                            <input type="text" name="productor" id="productor" class="form-control"
                                formControlName="productor" placeholder="Seleccionar productor" readonly>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-primary" (click)="SearchProductor()">...</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="tipoDocumento" class="col-md-4 col-form-label pr-0">Tipo de documento</label>
                        <div class="col-md-8">
                            <ng-select [items]="listTiposDocs" formControlName="tipoDocumento" class="form-control"
                                bindLabel="Label" bindValue="Codigo" id="tipoDocumento"
                                placeholder="Seleccionar tipo de documento" [(ngModel)]="selectedTipoDoc">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="nroDocumento" class="col-md-4 col-form-label pr-0">N° de documento</label>
                        <div class="col-md-8">
                            <input type="number" name="nroDocumento" id="nroDocumento" class="form-control"
                                formControlName="nroDocumento" placeholder="Ingresar número de documento">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="direccion" class="col-md-3 col-form-label pr-0">Dirección</label>
                        <div class="col-md-9">
                            <input type="text" name="direccion" id="direccion" class="form-control"
                                formControlName="direccion" placeholder="Ingresar dirección">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="form-group row">
                        <label for="nombreCompleto" class="col-md-2 col-form-label pr-0">Nombres y Apellidos</label>
                        <div class="col-md-5">
                            <input type="text" name="nombreCompleto" id="nombreCompleto" class="form-control"
                                formControlName="nombreCompleto" placeholder="Ingresar nombres">
                        </div>
                        <div class="col-md-5">
                            <input type="text" name="nombreCompleto" id="nombreCompleto" class="form-control"
                                formControlName="nombreCompleto" placeholder="Ingresar apellidos">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="departamento" class="col-md-3 col-form-label pr-0">Departamento</label>
                        <div class="col-md-9">
                            <ng-select [items]="listDepartamentos" formControlName="departamento" class="form-control"
                                bindLabel="Descripcion" bindValue="Codigo" id="departamento"
                                placeholder="Seleccionar un departamento" [(ngModel)]="selectedDepartamento"
                                (change)="onChangeDepartament($event)">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="form-group row">
                        <label for="razonSocial" class="col-md-2 col-form-label pr-0">Razón Social</label>
                        <div class="col-md-10">
                            <input type="text" name="razonSocial" id="razonSocial" class="form-control"
                                formControlName="razonSocial" placeholder="Ingresar razón social">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="provincia" class="col-md-3 col-form-label pr-0">Provincia</label>
                        <div class="col-md-9">
                            <ng-select [items]="listProvincias" formControlName="provincia" class="form-control"
                                bindLabel="Descripcion" bindValue="Codigo" id="provincia"
                                placeholder="Seleccionar una provincia" [(ngModel)]="selectedProvincia"
                                (change)="onChangeProvince($event)">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="telefonoFijo" class="col-md-4 col-form-label pr-0">Telefono Fijo</label>
                        <div class="col-md-8">
                            <input type="number" name="telefonoFijo" id="telefonoFijo" class="form-control"
                                formControlName="telefonoFijo" placeholder="Ingresar telefono fijo">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="distrito" class="col-md-3 col-form-label pr-0">Distrito</label>
                        <div class="col-md-9">
                            <ng-select [items]="listDistritos" formControlName="distrito" class="form-control"
                                bindLabel="Descripcion" bindValue="Codigo" id="distrito"
                                placeholder="Seleccionar una distrito" [(ngModel)]="selectedDistrito">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="telefCelular" class="col-md-4 col-form-label pr-0">Telefono Celular</label>
                        <div class="col-md-8">
                            <input type="number" name="telefCelular" id="telefCelular" class="form-control"
                                formControlName="telefCelular" placeholder="Ingresar telefono celular">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group row">
                        <label for="zona" class="col-md-3 col-form-label pr-0">Zona</label>
                        <div class="col-md-9">
                            <ng-select [items]="listZonas" formControlName="zona" class="form-control" bindLabel="Label"
                                bindValue="Codigo" id="zona" placeholder="Seleccionar una zona"
                                [(ngModel)]="selectedZona">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-primary">Guardar</button>
            <button class="btn btn-danger ml-1" (click)="Cancel()">Cancelar</button>
        </div>
    </div>
</form>