    
       
        <div class="mt-2" id="account">
          <form [formGroup]="consultaMateriaPrimaFormEdit">
            <div class="row">
              <div class="col-12 col-md-6">
                <ul class="list-group" id="multiple-list-group-a">
                  <li class="list-group-item draggable">
                    <div class="media">
                      <div class="media-body">
                        <h5 class="mt-0" style="text-align: center;">Pesado del Café</h5>
                        <div class="form-group row"
                          style="background-color: #F7F7F8; text-align: center; margin-left: 1rem; margin-right: 1rem;">
                          <label class="col-md-6 col-form-label" for="striped-form">DETALLE</label>
                          <label class="col-md-6 col-form-label" for="striped-form">VALORES</label>

                        </div>
                        <div class="form-group row" style="margin-left: 1rem; margin-right: 1rem;">
                          <label class="col-md-4 col-form-label card-text" for="validationTooltip08">Unidad
                            Medida</label>
                          <div class="col-md-8">
                              <ng-select [items]="listaUnidadMedida" formControlName="unidadMedida" class="form-control"
                              bindLabel="Label" bindValue="Codigo" id="validationTooltip05" placeholder="Unidad Medida"
                              [ngClass]="{ 'is-invalid': submittedEdit && fedit.unidadMedida.invalid, 'is-valid': submittedEdit && !fedit.unidadMedida.invalid }"
                              [(ngModel)]="selectedUnidadMedida">
                            </ng-select>
                          </div>
                        </div>
                        <div class="form-group row" style="margin-left: 1rem; margin-right: 1rem;">
                          <label class="col-md-4 col-form-label card-text"
                            for="horizontal-form-1">Cantidad</label>
                          <div class="col-md-8">
                            <input type="text" minlength="8" maxlength="20" formControlName="cantidad" class="form-control"
                              id="validationTooltip08" placeholder="Cantidad"
                              [ngClass]="{ 'is-invalid': submittedEdit && fedit.cantidad.invalid, 'is-valid': submittedEdit && !fedit.cantidad.invalid }">
                          </div>
                        </div>
                        <div class="form-group row" style="margin-left: 1rem; margin-right: 1rem;">
                          <label class="col-md-4 col-form-label card-text" for="horizontal-form-1">Kilos
                            Brutos</label>
                          <div class="col-md-8">
                            <input type="text" minlength="8" maxlength="20" formControlName="kilosBruto" class="form-control"
                              id="validationTooltip08" placeholder="Kilos Brutos"
                              [ngClass]="{ 'is-invalid': submittedEdit && fedit.kilosBruto.invalid, 'is-valid': submittedEdit && !fedit.kilosBruto.invalid }">
                          </div>
                        </div>
                        <div class="form-group row" style="margin-left: 1rem; margin-right: 1rem;">
                          <label class="col-md-4 col-form-label card-text"
                            for="horizontal-form-1">Tara</label>
                          <div class="col-md-8">
                            <input type="text" class="form-control square" id="horizontal-form-1"
                              name="first-name">
                          </div>
                        </div>
                        <div class="form-group row last mb-3">
                          <label class="col-md-3 label-control card-text"
                            for="bordered-form-6">Observaciones</label>
                          <div class="col-md-9">
                            <div class="position-relative has-icon-left">
                              <textarea id="bordered-form-6" rows="4" class="form-control"
                                name="notes"></textarea>
                              <div class="form-control-position">
                                <i class="ft-file"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>

              </div>

              <div class="col-12 col-md-6">
                <ul class="list-group" id="multiple-list-group-a">
                  <li class="list-group-item draggable">
                    <div class="media">
                      <div class="media-body">
                        <h5 class="mt-0" style="text-align: center;">Analisis Fisico (Rendimiento Exportable)
                        </h5>
                        <div class="form-group row"
                          style="background-color: #F7F7F8; text-align: center;margin-left: 1rem; margin-right: 1rem;">
                          <label class="col-md-4 col-form-label" for="horizontal-form-1">Detalle</label>
                          <label class="col-md-4 col-form-label" for="horizontal-form-1">Gramos</label>
                          <label class="col-md-4 col-form-label" for="horizontal-form-1">%</label>
                        </div>
                        <div class="form-group row" style="margin-left: 1rem; margin-right: 1rem;">
                          <label class="col-md-4 col-form-label card-text"
                            for="horizontal-form-1">Exportable</label>
                          <div class="col-md-4">
                            <input type="text" class="form-control square" id="horizontal-form-1"
                              name="first-name" disabled>
                          </div>
                          <div class="col-md-4">
                            <input type="text" class="form-control square" id="horizontal-form-1"
                              name="first-name" disabled>
                          </div>
                        </div>
                        <div class="form-group row" style="margin-left: 1rem; margin-right: 1rem;">
                          <label class="col-md-4 col-form-label"
                            for="horizontal-form-1 card-text">Descarte</label>
                          <div class="col-md-4">
                            <input type="text" class="form-control square" id="horizontal-form-1"
                              name="first-name" disabled>
                          </div>
                          <div class="col-md-4">
                            <input type="text" class="form-control square" id="horizontal-form-1"
                              name="first-name" disabled>
                          </div>
                        </div>
                        <div class="form-group row" style="margin-left: 1rem; margin-right: 1rem;">
                          <label class="col-md-4 col-form-label card-text"
                            for="horizontal-form-1">Cascarilla</label>
                          <div class="col-md-4">
                            <input type="text" class="form-control square" id="horizontal-form-1"
                              name="first-name" disabled>
                          </div>
                          <div class="col-md-4">
                            <input type="text" class="form-control square" id="horizontal-form-1"
                              name="first-name" disabled>
                          </div>
                        </div>
                        <div class="form-group row"
                          style="background-color: #F7F7F8; text-align: center;margin-left: 1rem; margin-right: 1rem;">
                          <label class="col-md-4 col-form-label" for="horizontal-form-1">Total</label>
                          <label class="col-md-4 col-form-label" for="horizontal-form-1">0.00</label>
                          <label class="col-md-4 col-form-label" for="horizontal-form-1">0%</label>
                        </div>
                        <div class="form-group row last mb-3">
                          <label class="col-md-3 label-control card-text"
                            for="bordered-form-6">Observaciones</label>
                          <div class="col-md-9">
                            <div class="position-relative has-icon-left">
                              <textarea id="bordered-form-6" rows="4" class="form-control"
                                name="notes" disabled></textarea>
                              <div class="form-control-position">
                                <i class="ft-file"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row" style="margin-top: 2rem;">
              <div class="col-8 d-flex flex-sm-row flex-column">

                <label class="col-md-2 col-form-label card-text" for="horizontal-form-1">Responsable</label>
                <label class="col-md-12 col-form-label card-text"style="font-weight: bold;" for="horizontal-form-1">Soto Torres, Luis</label>

              </div>
              <div class="col-8 d-flex flex-sm-row flex-column">

                <label class="col-md-2 col-form-label card-text" for="horizontal-form-1">Fecha Pesado</label>
                <label class="col-md-12 col-form-label card-text"style="font-weight: bold;" for="horizontal-form-1">21/02/2021</label>

              </div>

            </div>

          </form>
        </div>
       
