<ng-template #modalTransportista let-c="close" let-d="dismiss">
  <div class="modal-header" style="text-align: center;">

    <h4 class="modal-title" style="font-size: 1rem;">Bandeja de Transportista</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="consultaTransportistas" class="needs-validation"
      style="padding-left: 0.3rem; padding-right: 0.3rem;">
      <ngx-spinner></ngx-spinner>
      <div class="row"
        style="text-align: center;background-color: #975AFF; border-top-left-radius: 0.35rem; border-top-right-radius: 0.35rem;">
        <div class="card-subtitle-form modal-title">Criterios de Busqueda</div>
      </div>
      <div class="row" style="margin-top: 1rem;">
        <div class="col-12 col-md-6">
          <div class="form-group row">
            <label for="validationTooltip08" class="col-md-3 col-form-label card-text2"> RUC </label>
            <div class="col-md-9">
              <input type="text" minlength="8" maxlength="20" formControlName="ruc" class="form-control"
                id="validationTooltip08" placeholder="Ruc"
                [ngClass]="{ 'is-invalid': submittedT && fT.ruc.invalid, 'is-valid': submittedT && !fT.ruc.invalid }">
              <small class="form-text text-muted danger" *ngIf="fT.ruc.errors?.minlength">Ingrese 8 a 20
                letras</small>
              <small class="form-text text-muted danger" *ngIf="fT.ruc.errors?.maxlength">Ingrese 8 a 20
                letras</small>
            </div>

            
            
          </div>


        </div>
        <div class="col-12 col-md-6">

          <div class="form-group row">
            <label for="validationTooltip08" class="col-md-4 col-form-label card-text2">Razón Social</label>
            <div class="col-md-8">
              <input type="text" minlength="5" maxlength="100" formControlName="rzsocial" class="form-control"
                id="validationTooltip08" placeholder="Razon Social"
                [ngClass]="{ 'is-invalid': submittedT && fT.rzsocial.invalid, 'is-valid': submittedT && !fT.rzsocial.invalid }">
              <small class="form-text text-muted danger" *ngIf="fT.rzsocial.errors?.minlength">Ingrese 5 a 100
                letras</small>
              <small class="form-text text-muted danger" *ngIf="fT.rzsocial.errors?.maxlength">Ingrese 5 a 100
                letras</small>
            </div>

          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-md-10">
              <small class="form-text text-muted danger"
                *ngIf="errorTransportista.isError">{{errorTransportista.errorMessage}}</small>
            </div>
            <div class="col-md-2 justify-content-end">
              <button class="btn btn-primary mr-1 mb-1" type="submit"
                (click)="buscarTransportista()">Buscar</button>
            </div>

          </div>
        </div>
      </div>
   
      <div class="row">
        <div class="col-12">
          <fieldset class="form-group">
            <label style="font-size: 0.6rem;">Show
              <select name="users-list-select" style="font-size: 0.8rem;"
                class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                (click)="updateLimitT($event)">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              entries</label>
            <label for="ngx-filter-ref" class="float-right" style="font-size: 0.6rem;">Search:
              <input id="ngx-filter-ref" class="form-control form-control-sm d-inline-block width-200 ml-1"
                type="text" (keyup)="filterUpdateT($event)" />
            </label>
          </fieldset>
          
          <ngx-datatable class="bootstrap core-bootstrap ngx-datatable-proveedor" #tableTranspotistas
            [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
            [limit]="limitRefT" [rows]="rowsT" style="font-size: 0.8rem;" [selectCheck]="singleSelectCheck"
            [selected]="selectedT" [selectionType]="'single'" (dblclick)="seleccionarTransportista(selectedT)">
            <ngx-datatable-column name="Razon Social" prop="RazonSocial" width="20">

            </ngx-datatable-column>
            <ngx-datatable-column name="Ruc" prop="Ruc" width="20">
            </ngx-datatable-column>
            <ngx-datatable-column name="Conductor" prop="Conductor" width="60">
            </ngx-datatable-column>

            <ngx-datatable-column name="N° Constancia MTC" prop="NumeroConstanciaMTC" width="40">
            </ngx-datatable-column>
            <ngx-datatable-column name="Licencia" prop="Licencia" width="60">
            </ngx-datatable-column>
            <ngx-datatable-column name="Marca Tractor" prop="MarcaTractor" width="25">
            </ngx-datatable-column>
            <ngx-datatable-column name="Placa Tractor" prop="PlacaTractor" width="25">
            </ngx-datatable-column>
            <ngx-datatable-column name="Peso Bruto" prop="PesoBruto" width="25">
            </ngx-datatable-column>
            <ngx-datatable-column name="Peso Neto" prop="PesoNeto" width="25">
            </ngx-datatable-column>
            <ngx-datatable-column name="Carga Util" prop="CargaUtil" width="25">
            </ngx-datatable-column>
            <ngx-datatable-column name="Longitud" prop="Longitud" width="25">
            </ngx-datatable-column>
            <ngx-datatable-column name="Altura" prop="Altura" width="25">
            </ngx-datatable-column>
            <ngx-datatable-column name="Ancho" prop="Ancho" width="25">
            </ngx-datatable-column>

          </ngx-datatable>

          
        </div>
      </div>

    </form>
    
  </div>
</ng-template>
<form class="needs-validation" [formGroup]="notaIngredoFormEdit">
  <section id="tooltip-validation">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header" style="margin-bottom: 2rem;">
            <div class="row">
              <div class="col-12 col-md-8">
                <div class="card-title-empresa">{{vSessionUser.Result.Data.RazonSocialEmpresa}}</div>
                <div class="card-subtitle-empresa">{{vSessionUser.Result.Data.DireccionEmpresa}}</div>
                <div class="card-subtitle-empresa">RUC: {{vSessionUser.Result.Data.RucEmpresa}}
                </div>
              </div>
              <div class="col-12 col-md-4">

                <div class="form-row" *ngIf="esEdit">
                  <div class="col-md-6 form-group">
                    <label class="card-forms" for="users-edit-username">N° NOTA DE INGRESO </label>
                  </div>

                  <div class="col-md-6 form-group">
                    <label class="card-forms" for="users-edit-username"
                      style="font-weight: bold;">{{numeroNotaIngreso}}</label>
                  </div>

                </div>
                <!--<div class="form-row" >
                     
                      <div class="col-md-6 form-group">
                        <label class="card-forms" for="users-edit-name">N° GUIA REFERENCIA</label>
                      </div>
                      
                      <div class="col-md-6 form-group">
            
                        <div class="form-group" style="margin-bottom: 0.5rem !important;">
                          <div class="controls">
                            <input type="text" style="height:20px" id="users-edit-username" formControlName="guiaReferencia"  class="form-control" aria-invalid="false"
                              [ngClass]="{ 'is-invalid': submittedEdit && fedit.guiaReferencia.invalid, 'is-valid': submittedEdit && !fedit.guiaReferencia.invalid }" >
    
                              <small class="form-text text-muted danger" *ngIf="fedit.guiaReferencia.errors?.minlength">Ingrese 5 a 20
                                letras</small>
                              <small class="form-text text-muted danger" *ngIf="fedit.guiaReferencia.errors?.maxlength">Ingrese 5 a 20
                                letras</small>
                              <small class="form-text text-muted danger" *ngIf="fedit.guiaReferencia.errors?.pattern">Solo letras y
                                números</small>
                          </div>
                        </div>
    
                      </div>
                    </div> -->
                <div class="form-row" *ngIf="esEdit">

                  <div class="col-md-6 form-group">
                    <label class="card-forms" for="users-edit-email">FECHA</label>
                  </div>

                  <div class="col-md-4 form-group">
                    <label class="card-forms" for="users-edit-username"
                      style="font-weight: bold;">{{fechaRegistro}}</label>
                  </div>
                </div>

                <div class="form-row" *ngIf="esEdit">

                  <div class="col-md-6 form-group">
                    <label class="card-forms" for="users-edit-email">ESTADO</label>
                  </div>

                  <div class="col-md-4 form-group">
                    <label class="card-forms" for="users-edit-username" style="font-weight: bold;">{{estado}}</label>
                  </div>
                </div>

              </div>

            </div>
            <br>
            <br>

            <div class="form-row">
              <div class="col-md-4 mb-4 form-group mb-2">
                <label for="validationTooltip04">N° GUIA REMISION</label>
                <input type="text" minlength="5" maxlength="20" formControlName="guiaremision" class="form-control"
                  id="validationTooltip04" placeholder="Guia Remision"
                  [ngClass]="{ 'is-invalid': submittedEdit && fedit.guiaremision.invalid, 'is-valid': submittedEdit && !fedit.guiaremision.invalid }">
              </div>
              <div class="col-md-4 mb-4 form-group mb-2">
                <label for="validationTooltip04">FEC. GUIA REMISION</label>
                <input type="date" class="form-control" formControlName="fecharemision" id="validationTooltip10"
                  name="fecharemision" placeholder="date" date
                  [ngClass]="{ 'is-invalid': submittedEdit && fedit.fecharemision.invalid, 'is-valid': submittedEdit && !fedit.fecharemision.invalid }" />
              </div>
              <div class="col-md-4 mb-4 form-group mb-2">
                <label for="validationTooltip09">TIPO PRODUCCION</label>
                <ng-select [items]="listaTipoProduccion" bindLabel="name" [(ngModel)]="selectTipoProduccion"
                  formControlName="tipoProduccion" bindLabel="Label" bindValue="Codigo" class="form-control"
                  placeholder="Seleccionar Tipo Producción"
                  [ngClass]="{ 'is-invalid': submittedEdit && fedit.tipoProduccion.invalid, 'is-valid': submittedEdit && !fedit.tipoProduccion.invalid }">
                </ng-select>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-3 mb-3 form-group mb-2">
                <!--  <label for="validationTooltip04">CODIGO ORGANIZACION</label>
                <input type="text" minlength="5" maxlength="20" formControlName="codigoOrganizacion"
                  class="form-control" id="validationTooltip04" placeholder="Codigo Organización"
                  [ngClass]="{ 'is-invalid': submittedEdit && fedit.codigoOrganizacion.invalid, 'is-valid': submittedEdit && !fedit.codigoOrganizacion.invalid }"
                  readonly> -->

                <label for="validationTooltip04">RUC</label>
                <input type="text" minlength="8" maxlength="20" formControlName="rucOrganizacion" class="form-control"
                  id="validationTooltip08" placeholder="Ruc"
                  [ngClass]="{ 'is-invalid': submittedEdit && fedit.rucOrganizacion.invalid, 'is-valid': submittedEdit && !fedit.rucOrganizacion.invalid }"
                  readonly>


              </div>



              <div class="col-md-1 mb-1 form-group mb-2">
                <!-- <ng-template #mdlConsultarOrganizacion let-c="close" let-d="dismiss">
                  <app-consultar-organizacion (empresaEvent)="GetDataEmpresa($event)">
                  </app-consultar-organizacion>
                </ng-template> -->

                <ng-template #modalEmpresa let-c="close" let-d="dismiss">
                  <app-consultar-empresa (empresaEvent)="GetDataEmpresa($event)">
                  </app-consultar-empresa>
                </ng-template>

                <button type="button" class="btn btn-default" style="margin-top: 1.5rem;"
                  (click)="openModal(modalEmpresa)">
                  <i class="fa fa-search"></i>
                </button>





              </div>
              <div class="col-md-4 mb-4 form-group mb-2">
                <label for="validationTooltip04">RAZON SOCIAL</label>
                <input type="text" minlength="4" maxlength="100" formControlName="nombreOrganizacion"
                  class="form-control" id="validationTooltip08" placeholder="Nombre Organizacion"
                  [ngClass]="{ 'is-invalid': submittedEdit && fedit.nombreOrganizacion.invalid, 'is-valid': submittedEdit && !fedit.nombreOrganizacion.invalid }"
                  readonly>
              </div>
              <div class="col-md-4 mb-4 form-group mb-2">
                <label for="validationTooltip09">PRODUCTO</label>
                <ng-select [items]="listaProducto" bindLabel="name" [(ngModel)]="selectProducto" class="form-control"
                  placeholder="Seleccionar Producto" formControlName="producto" (change)="changeSubProducto($event)"
                  bindLabel="Label" bindValue="Codigo"
                  [ngClass]="{ 'is-invalid': submittedEdit && fedit.producto.invalid, 'is-valid': submittedEdit && !fedit.producto.invalid }">
                </ng-select>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-4 mb-4 form-group mb-2">
                <label for="validationTooltip04">DIRECCION</label>
                <input type="text" minlength="5" maxlength="200" formControlName="direccion" class="form-control"
                  id="validationTooltip04" placeholder="Dirección"
                  [ngClass]="{ 'is-invalid': submittedEdit && fedit.direccion.invalid, 'is-valid': submittedEdit && !fedit.direccion.invalid }"
                  readonly>
              </div>
              <!-- <div class="col-md-4 mb-4 form-group mb-2">
                <label for="validationTooltip04">RUC</label>
                <input type="text" minlength="8" maxlength="20" formControlName="ruc" class="form-control"
                  id="validationTooltip08" placeholder="Ruc"
                  [ngClass]="{ 'is-invalid': submittedEdit && fedit.ruc.invalid, 'is-valid': submittedEdit && !fedit.ruc.invalid }"
                  readonly>

              </div> -->  

              <div class="col-md-4 mb-4 form-group mb-2">
                <label for="validationTooltip09">Estado de Humedad</label>
                <ng-select [items]="listaSubProducto" bindLabel="name" [(ngModel)]="selectSubProducto"
                  formControlName="subproducto" bindLabel="Label" bindValue="Codigo" class="form-control"
                  placeholder="Seleccionar Tipo Producto" (change)="changeView($event)"
                  [ngClass]="{ 'is-invalid': submittedEdit && fedit.subproducto.invalid, 'is-valid': submittedEdit && !fedit.subproducto.invalid }">
                </ng-select>
              </div>
              <div class="col-md-4 mb-4 form-group mb-2">
                <label for="validationTooltip12">Campaña</label>
                <ng-select [items]="listaCampania" formControlName="campania" class="form-control" bindLabel="Label"
                  bindValue="Codigo" id="validationTooltip12" placeholder="campania"
                  [ngClass]="{ 'is-invalid': submittedEdit && fedit.campania.invalid, 'is-valid': submittedEdit && !fedit.campania.invalid }"
                  [(ngModel)]="selectedCampania">
                </ng-select>
              </div>

            </div>

            <div class="form-row">

              <div class="col-md-4 mb-4 form-group mb-2">
                <label for="validationTooltip09">CERTIFICACION</label>
                <ng-select [items]="listaCertificacion" bindLabel="name" [(ngModel)]="selectedCertificacion"
                  formControlName="certificacion" bindLabel="Label" bindValue="Codigo" class="form-control"
                  placeholder="Seleccionar Certificacion" [multiple]="true"
                  [ngClass]="{ 'is-invalid': submittedEdit && fedit.certificacion.invalid, 'is-valid': submittedEdit && !fedit.certificacion.invalid }">
                </ng-select>
              </div>
              <div class="col-md-4 mb-4 form-group mb-2">
                <label for="validationTooltip09">CERTIFICADORA</label>
                <ng-select [items]="listaCertificadora" bindLabel="name" [(ngModel)]="selectedCertificadora"
                  formControlName="certificadora" bindLabel="Label" bindValue="Codigo" class="form-control"
                  placeholder="Seleccionar Certificadora"
                  [ngClass]="{ 'is-invalid': submittedEdit && fedit.certificadora.invalid, 'is-valid': submittedEdit && !fedit.certificadora.invalid }">
                </ng-select>
              </div>
              <div class="col-md-4 mb-4 form-group mb-2">
                <label for="validationTooltip12">Concepto</label>
                <ng-select [items]="listaConcepto" formControlName="concepto" class="form-control" bindLabel="Label"
                  bindValue="Codigo" id="validationTooltip12" placeholder="Concepto"
                  [ngClass]="{ 'is-invalid': submittedEdit && fedit.concepto.invalid, 'is-valid': submittedEdit && !fedit.concepto.invalid }"
                  [(ngModel)]="selectedConcepto">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  
  <section class="users-edit">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <!-- Nav-tabs -->
              <ul ngbNav #nav="ngbNav" [activeId]="1" [destroyOnHide]="false" class="nav-pills justify-content-left">
                <li [ngbNavItem]="1" [destroyOnHide]="false" >
                  <a ngbNavLink class="nav-link d-flex align-items-center">
                    <span class="d-none d-sm-block" style="font-size: 1.1rem;">Pesado del Cafe</span>
                  </a>
                  <ng-template ngbNavContent>
                    <app-pesadoCafePlanta (miEvento)="consultarSocioFinca()" formGroupName="pesado"
                      [submittedEdit]="submittedEdit"  *ngIf="flagOcultarPesado"></app-pesadoCafePlanta>

                      <div  *ngIf="flagOcultarExportable">
                        
                        <div class="form-row col-lg-12 col-md-12 col-sm-12">
                          <div class="col-lg-3 col-md-3 col-sm-3">
                            <label for="validationTooltip09">Motivo</label>
                            <ng-select [items]="listaMotivo" bindLabel="name" [(ngModel)]="selectedMotivoo"
                              formControlName="motivo" bindLabel="Label" bindValue="Codigo" class="form-control"
                              placeholder="Seleccionar Motivo" 
                              [ngClass]="{ 'is-invalid': submittedEdit && fedit.motivo.invalid, 'is-valid': submittedEdit && !fedit.motivo.invalid }">
                            </ng-select>
                          </div>
                        </div>
                        <div><br></div>
                        <div class="form-row" >

                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <button class="btn btn-sm btn-success ml-2 mb-1 pt-0 pb-0" type="button"
                            (click)="addRowDetail()">+</button>
                          </div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                              <ngx-datatable #tblDetails class="bootstrap core-bootstrap" [rows]="rowsDetails"
                              [loadingIndicator]="isLoading" [scrollbarH]="false"  [rowHeight]="'auto'"  [formGroup] = "formControlEmpaque">

                                    <ngx-datatable-column [sortable]="false" width="35">
                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex">
                                            <div class="d-flex align-items-center text-center">
                                                <button type="button" class="btn btn-sm btn-danger pt-0 pb-0"
                                                    (click)="DeleteRowDetail(rowIndex)">-</button>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="Cantidad" prop="Cantidad" width="120"
                                    [sortable]="false">
                                    <ng-template ngx-datatable-cell-template let-row="row" let-Cantidad="value"
                                        let-rowIndex="rowIndex">
                                        <div class="d-flex align-items-center">
                                            <input type="number" autofocus class="form-control form-control-sm"
                                                (blur)="UpdateValuesGridDetails($event, rowIndex, 'Cantidad')"
                                                [ngClass]="{ 'border-danger': !Cantidad, '': Cantidad }"
                                                value="{{Cantidad}}">
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                               
                                <ngx-datatable-column name="Empaque" prop="EmpaqueId"  width="170" >
                                      <ng-template ngx-datatable-cell-template let-row="row" let-EmpaqueId="value" 
                                          let-rowIndex="rowIndex">
                                          <div class="d-flex align-items-center"  > 
                                          <ng-select [items]="listaDetalleEmpaque"  width="160"   
                                              class="form-control" bindLabel="Label" bindValue="Codigo" placeholder="Empaque"
                                              [(ngModel)]="selectedDetalleEmpaque[row.NotaIngresoPlantaDetalleId]"  id="EmpaqueId" [formControlName]="row.NotaIngresoPlantaDetalleId+'empaque'"
                                              (change)="UpdateValuesGridDetails($event, rowIndex, 'EmpaqueId')"
                                              value="{{EmpaqueId}}">
                                          </ng-select>
                                      </div>
                                      </ng-template>
                                </ngx-datatable-column>

                            <ngx-datatable-column name="Tipo Empaque" prop="TipoId"  width="220" >
                                  <ng-template ngx-datatable-cell-template let-row="row" let-TipoId="value" 
                                      let-rowIndex="rowIndex">
                                      <div class="d-flex align-items-center" >
                                          <ng-select [items]="listaDetalleTipoEmpaque"  width="210"   
                                              class="form-control" bindLabel="Label" bindValue="Codigo" placeholder="Tipo Empaque"
                                              [(ngModel)]="selectedDetalleTipoEmpaque[row.NotaIngresoPlantaDetalleId]"  id="TipoId" [formControlName]="row.NotaIngresoPlantaDetalleId+'tipoempaque'"
                                              (change)="UpdateValuesGridDetails($event, rowIndex, 'TipoId')"
                                              value="{{TipoId}}">
                                          </ng-select>
                                      </div>
                                  </ng-template>
                            </ngx-datatable-column>

                            
                            <ngx-datatable-column name="Descripcion" prop="SubProductoId"  width="290" >
                              <ng-template ngx-datatable-cell-template let-row="row" let-SubProductoId="value" 
                                  let-rowIndex="rowIndex">
                                  <div class="d-flex align-items-center"  style="width: 280px;">
                                    <ng-select [items]="listaDetalleSubProducto"  width="280"   
                                      class="form-control" bindLabel="Label" bindValue="Codigo" placeholder="Descripcion" id="SubProductoId" 
                                    
                                      (change)="UpdateValuesGridDetails($event, rowIndex, 'SubProductoId')"
                                      value="{{SubProductoId}}">
                                  </ng-select>
                              </div>
                              </ng-template>
                            </ngx-datatable-column>

                              <ngx-datatable-column name="Peso Bruto kg" prop="KilosBrutos" width="90"
                                  [sortable]="false">
                                  <ng-template ngx-datatable-cell-template let-row="row" let-KilosBrutos="value"
                                      let-rowIndex="rowIndex">
                                      <div class="d-flex align-items-center">
                                          <input type="number" autofocus class="form-control form-control-sm"
                                              (blur)="UpdateValuesGridDetails($event, rowIndex, 'KilosBrutos')"
                                              [ngClass]="{ 'border-danger': !KilosBrutos, '': KilosBrutos }"
                                              value="{{KilosBrutos}}">
                                      </div>
                                  </ng-template>
                              </ngx-datatable-column>

                              <ngx-datatable-column name="Tara" prop="Tara" width="75"
                              [sortable]="false">
                              <ng-template ngx-datatable-cell-template let-row="row" let-Tara="value"
                                  let-rowIndex="rowIndex">
                                  <div class="d-flex align-items-center">
                                      <input type="number" autofocus class="form-control form-control-sm"
                                          (blur)="UpdateValuesGridDetails($event, rowIndex, 'Tara')"
                                          [ngClass]="{ 'border-danger': !Tara, '': Tara }"
                                          value="{{Tara}}" disabled>
                                  </div>
                              </ng-template>
                              </ngx-datatable-column>

                              <ngx-datatable-column name="Kilos Netos" prop="KilosNetos" width="95"
                              [sortable]="false">
                              <ng-template ngx-datatable-cell-template let-row="row" let-KilosNetos="value"
                                  let-rowIndex="rowIndex">
                                  <div class="d-flex align-items-center">
                                      <input type="number" autofocus class="form-control form-control-sm"
                                          (blur)="UpdateValuesGridDetails($event, rowIndex, 'KilosNetos')"
                                          [ngClass]="{ 'border-danger': !KilosNetos, '': KilosNetos }"
                                          value="{{KilosNetos}}" disabled>
                                  </div>
                              </ng-template>
                              </ngx-datatable-column>

                            </ngx-datatable>
                                <div class="row" style="margin-top: 2rem;">
                                  <small class="form-text text-muted danger"
                                    *ngIf="errorGrilla.isError" > Ingrese por lo menos un registro</small>
                                </div>
                                
                            </div>
                            
                            <div class="col-lg-12 col-md-12 col-sm-12">
                              <div class="col-12 col-md-12">
                                <ul class="list-group" id="multiple-list-group-a">
                                  <li class="list-group-item draggable">
                                    <div class="media">
                                      <div class="media-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                          <ngx-spinner></ngx-spinner>
                                        </div>
                                        <div class="form-row">
                                          <div class="col-md-3 mb-3 form-group mb-2">
                          
                                            <label for="validationTooltip04">Transportista</label>
                                            <input type="text" minlength="1" maxlength="50" formControlName="transportista" class="form-control"
                                              id="validationTooltip04" placeholder="Transportista"
                                              [ngClass]="{ 'is-invalid': submittedEdit &&  fedit.controls.transportista.invalid, 'is-valid': submittedEdit && !fedit.controls.transportista.invalid }">
                          
                                            
                                          </div>
                                          
                                          <div class="col-1 col-md-1" style="padding-left: 0cm;">
                                            <button type="button" (click)="openModalTransportista(modalTransportista)" class="btn btn-default"
                                              style="margin-top: 1.5rem;">
                                              <i class="fa fa-search"></i>
                                            </button>
                                          </div>
                                          
                                          <div class="col-md-3 mb-3 form-group mb-2">
                                            <label for="validationTooltip04">Ruc</label>
                                            <input type="text" minlength="1" maxlength="20" formControlName="ruc" class="form-control"
                                              id="validationTooltip08" placeholder="Ruc"
                                              [ngClass]="{ 'is-invalid': submittedEdit &&  fedit.controls.ruc.invalid, 'is-valid': submittedEdit && !fedit.controls.ruc.invalid }">
                                          </div>

                                          <div class="col-md-3 mb-3 form-group mb-2">
                                            <label for="validationTooltip04">Placa Vehiculo</label>
                                            <input type="text" minlength="1" maxlength="20" formControlName="placaVehiculo" class="form-control"
                                              id="validationTooltip04" placeholder="Placa Vehiculo"
                                              [ngClass]="{ 'is-invalid': submittedEdit &&  fedit.controls.placaVehiculo.invalid, 'is-valid': submittedEdit && !fedit.controls.placaVehiculo.invalid }">
                                          </div>
                          
                                        </div>
                          
                                        <div class="form-row">
                                      
                                          <div class="col-md-3 mb-3 form-group mb-2">
                                            <label for="validationTooltip04">Chofer</label>
                                            <input type="text" minlength="1" maxlength="50" formControlName="chofer" class="form-control"
                                              id="validationTooltip08" placeholder="Chofer"
                                              [ngClass]="{ 'is-invalid': submittedEdit &&  fedit.controls.chofer.invalid, 'is-valid': submittedEdit && !fedit.controls.chofer.invalid }">
                                          </div>
                                          <div class="col-1 col-md-1" style="padding-left: 0cm;">
                                          </div>
                                          <div class="col-md-3 mb-3 form-group mb-2">
                                            <label for="validationTooltip04">Nro Brevete</label>
                                            <input type="text" minlength="1" maxlength="20" formControlName="numeroBrevete" class="form-control"
                                              id="validationTooltip04" placeholder="Nro Brevete"
                                              [ngClass]="{ 'is-invalid': submittedEdit &&  fedit.controls.numeroBrevete.invalid, 'is-valid': submittedEdit && !fedit.controls.numeroBrevete.invalid }">
                                          </div>
                                          <div class="col-md-3 mb-3 form-group mb-2">
                                            <label for="validationTooltip04">Marca</label>
                                            <input type="text" minlength="1" maxlength="20" formControlName="marca" class="form-control"
                                              id="validationTooltip04" placeholder="Marca"
                                              [ngClass]="{ 'is-invalid': submittedEdit &&  fedit.controls.marca.invalid, 'is-valid': submittedEdit && !fedit.controls.marca.invalid }">
                                          </div>
                                        </div>
                          
                                        <div class="form-row">
                                          
                                          
                                   
                          
                                        </div>
                                        <div class="form-group row last mb-3">
                                          <label class="col-md-4 label-control card-text" for="bordered-form-6">Observaciones</label>
                                          <div class="col-md-8">
                                            <div class="position-relative has-icon-left">
                                              <textarea id="bordered-form-6" rows="4" formControlName="observacion" class="form-control"
                                                name="notes"  maxlength="1000"
                                                [ngClass]="{ 'is-invalid': submittedEdit &&  fedit.controls.observacion.invalid, 'is-valid': submittedEdit && !fedit.controls.observacion.invalid }"></textarea>
                                              <div class="form-control-position">
                                                <i class="ft-file"></i>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                             
                        </div>
                      
                    
                    </div>
                    <div *ngIf="esEdit" class="row" style="margin-top: 2rem;">
                      <div class="col-8 d-flex flex-sm-row flex-column">
                        <label class="col-md-4 col-form-label card-text" for="horizontal-form-1">Responsable</label>
                        <label class="col-md-8 col-form-label card-text" style="font-weight: bold;"
                          for="horizontal-form-1">{{responsable}}</label>
                      </div>
                      <div class="col-8 d-flex flex-sm-row flex-column">
                        <label class="col-md-4 col-form-label card-text" for="horizontal-form-1">Fecha Pesado</label>
                        <label class="col-md-8 col-form-label card-text" style="font-weight: bold;"
                          for="horizontal-form-1">{{fechaPesado}}</label>
                      </div>

                    </div>
                    <div class="row" style="margin-top: 2rem;">
                      <small class="form-text text-muted danger"
                        *ngIf="errorGeneral.isError">{{errorGeneral.errorMessage}}</small>
                    </div>
                    <div class="col-md-4 justify-content-end !important" style="margin-top: 2rem;">
                      <ng-template #mdlListDocuments let-c="close" let-d="dismiss">
                        <app-lista-documentos [codeForm]="'frmMdlListDocumentsNoteIncome'" [code]="idPlantEntryNote">
                        </app-lista-documentos>
                      </ng-template>
                    </div>
                    <div class="card-footer text-right" style="margin-top: 2rem;">
                      <button type="button"  class="btn btn-primary mb-2 mb-sm-0 mr-sm-2" (click)="openModal(mdlListDocuments)"
                        *ngIf="esEdit">Documentos</button>
                        <button type="submit" class="btn btn-primary mb-2 mb-sm-0 mr-sm-2" (click)="imprimir()"
                        [disabled]="!id || id <= 0" *ngIf="esEdit">Imprimir</button>
                      <button type="submit"  class="btn btn-primary mb-2 mb-sm-0 mr-sm-2" [disabled]="!btnGuardar || readonly==true" 
                        (click)="guardar()">Guardar</button>
                      <button type="submit"  class="btn btn-danger mb-2 mb-sm-0 mr-sm-2"
                        (click)="cancelar()">Cancelar</button>
                      </div>
                  </ng-template>
<!--style="display: none;"-->
                </li>
                <li [ngbNavItem]="2" style="display: none;">
                  <a ngbNavLink [class]="'nav-link ' + disabledControl + ' d-flex align-items-center'">
                    <span class="d-none d-sm-block" style="font-size: 1.1rem;">Control de Calidad</span>
                  </a>
                  <ng-template ngbNavContent *ngIf="viewTagSeco">
                    <app-controlCalidadSeco *ngIf="detalle" [detalle]="detalle" [form]="form" [readonly]="readonly"></app-controlCalidadSeco>
                  </ng-template>

                  <ng-template ngbNavContent *ngIf="!viewTagSeco">
                    <app-controlCalidadHumedo *ngIf="detalle" [detalle]="detalle" [form]="form" [readonly]="readonly">
                    </app-controlCalidadHumedo>
                  </ng-template>


                </li>
                <!-- <li [ngbNavItem]="3">
                    <a ngbNavLink [class]="'nav-link ' + disabledNota + ' d-flex align-items-center'">
                      <span class="d-none d-sm-block" style="font-size: 1.1rem;">Nota de Compra</span>
                    </a>
                    <ng-template ngbNavContent>
                      <app-notacompra *ngIf = "detalle" [detalle]="detalle"></app-notacompra>
                    </ng-template>
                  </li> -->
              </ul>
              <div class="tab-content">
                <div [ngbNavOutlet]="nav"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>



  <div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
  </div>
</form>