<div class="row"  *ngIf="!popUp">
    <div class="col-12">
        <div class="content-header">BANDEJA DE SERVICIOS PLANTA </div>
    </div>
</div>

<section id="tooltip-validation">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="needs-validation" [formGroup]="Serviciosform" novalidate>
                             <div class="form-row">
                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="Numero" class="form-label">Numero</label>
                                    <input type="text" minlength="5" maxlength="100" formControlName="Numero"
                                    class="form-control" id="Numero" placeholder="Numero"
                                    [ngClass]="{ 'is-invalid': submitted && f.Numero.invalid, 'is-valid': submitted && !f.Numero.invalid }">
                                  </div>

                                  <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="validationTooltip04">Numero Operacion</label>
                                    <input type="text" minlength="5" maxlength="100" formControlName="NumeroOperacionRelacionada"
                                    class="form-control" id="ruc" placeholder="Numero Operacion"
                                    [ngClass]="{ 'is-invalid': submitted && f.NumeroOperacionRelacionada.invalid, 'is-valid': submitted && !f.NumeroOperacionRelacionada.invalid }">
                                  </div>

                                  <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="TipoServicio" class="form-label">Tipo Servicio</label>
                                      <ng-select [items]="listTipoServicio" formControlName="TipoServicio"
                                        class="form-control" bindLabel="Label" bindValue="Codigo" id="TipoServicio"
                                        placeholder="Seleccionar Tipo Servicio"
                                        [ngClass]="{ 'is-invalid': f.TipoServicio.invalid, 'is-valid': !f.TipoServicio.invalid }"
                                        [(ngModel)]="selectedTipoServicio">
                                    </ng-select>
                                </div>
                            </div> 

                            <div class="form-row">
                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="estado" class="form-label">Estado</label>
                                      <ng-select [items]="listEstado" formControlName="estado"
                                        class="form-control" bindLabel="Label" bindValue="Codigo" id="estado"
                                        placeholder="Seleccionar Estado"
                                        [ngClass]="{ 'is-invalid': f.estado.invalid, 'is-valid': !f.estado.invalid }"
                                        [(ngModel)]="selectedEstado">
                                    </ng-select>
                                </div>
                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="TipoComprobante" class="form-label">Tipo Comprobante</label>
                                      <ng-select [items]="listTipoComprobante" formControlName="TipoComprobante"
                                        class="form-control" bindLabel="Label" bindValue="Codigo" id="TipoComprobante"
                                        placeholder="Seleccionar Tipo Comprobante"
                                        [ngClass]="{ 'is-invalid': f.TipoComprobante.invalid, 'is-valid': !f.TipoComprobante.invalid }"
                                        [(ngModel)]="selectedTipoComprobante">
                                    </ng-select>
                                </div>
                                
                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="SerieComprobante" class="form-label">Serie Comprobante</label>
                                    <input type="text" minlength="5" maxlength="100" formControlName="SerieComprobante"
                                    class="form-control" id="SerieComprobante" placeholder="Serie Comprobante"
                                    [ngClass]="{ 'is-invalid': submitted && f.SerieComprobante.invalid, 'is-valid': submitted && !f.SerieComprobante.invalid }">
                                  </div>
                            </div>

                            <div class="form-row">
                                  <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="NumeroComprobante" class="form-label">Numero Comprobante</label>
                                    <input type="text" minlength="5" maxlength="100" formControlName="NumeroComprobante"
                                    class="form-control" id="NumeroComprobante" placeholder="Numero Comprobante"
                                    [ngClass]="{ 'is-invalid': submitted && f.NumeroComprobante.invalid, 'is-valid': submitted && !f.NumeroComprobante.invalid }">
                                  </div>

                                  <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="RazonSocial" class="form-label">Razon Social</label>
                                    <input type="text" minlength="5" maxlength="100" formControlName="RazonSocial"
                                    class="form-control" id="RazonSocial" placeholder="Razon Social"
                                    [ngClass]="{ 'is-invalid': submitted && f.RazonSocial.invalid, 'is-valid': submitted && !f.RazonSocial.invalid }">
                                  </div>
                                  <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="Ruc" class="form-label">Ruc</label>
                                    <input type="text" minlength="5" maxlength="100" formControlName="Ruc"
                                    class="form-control" id="Ruc" placeholder="Ruc"
                                    [ngClass]="{ 'is-invalid': submitted && f.Ruc.invalid, 'is-valid': submitted && !f.Ruc.invalid }">
                                  </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="fechaInicio" class="form-label">Fecha Inicial</label>
                                    <input type="date" class="form-control" formControlName="fechaInicio" id="validationTooltip07"
                                    name="fechaInicio" placeholder="date" date
                                    [ngClass]="{ 'is-invalid': submitted && f.fechaInicio.invalid, 'is-valid': submitted && !f.fechaInicio.invalid }"
                                    (blur)="compareFechas()" />
                                  <small class="form-text text-muted danger"
                                    *ngIf="errorFecha.isError">{{errorFecha.errorMessage}}</small>
                                </div>

                                <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="fechaFin" class="form-label">Fecha Final</label>
                                    <input type="date" class="form-control" formControlName="fechaFin" id="validationTooltip10"
                                    name="fechaFin" placeholder="date" date
                                    [ngClass]="{ 'is-invalid': submitted && f.fechaFin.invalid, 'is-valid': submitted && !f.fechaFin.invalid }"
                                    (blur)="compareTwoDates()" />
                                  <small class="form-text text-muted danger" *ngIf="error.isError">{{error.errorMessage}}</small>
                                </div>
                               
                               
                            </div>


                            <small class="form-text text-muted danger mb-1"
                                *ngIf="errorGeneral.isError">{{errorGeneral.msgError}}</small>
                            <button class="btn btn-primary mr-1 mb-1" type="submit" [disabled]="Serviciosform.invalid"
                                (click)="Buscar()">Buscar</button>
                                <button class="btn btn-primary mr-1 mb-1" type="button" data-toggle="tooltip"
                                data-placement="top" (click)="Seleccionar(selected)"
                                [disabled]="!rows.length || !selected.length" *ngIf="popUp">Seleccionar</button>
                            <button class="btn btn-primary mr-1 mb-1" type="button" (click)="Nuevo()">Nuevo</button>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
</div>

<section id="ngx-datatable-filter">
    <div class="row">
        <div class="col-12">
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <fieldset class="form-group">
                            <label>Show
                                <select name="users-list-select"
                                    class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                                    (click)="updateLimit($event)">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label>
                            <label for="ngx-filter-ref" class="float-right">Search:
                                <input id="ngx-filter-ref"
                                    class="form-control form-control-sm d-inline-block width-200 ml-1" type="text"
                                    (keyup)="filterUpdate($event)" />
                            </label>
                        </fieldset>
                        <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" rowHeight="auto" [limit]="limitRef" [rows]="rows" [scrollbarH]="true"
                            [selected]="selected" [selectionType]="'single'" [selectCheck]="onSelectCheck">

                            <ngx-datatable-column name="Numero" prop="Numero" width="90" *ngIf="!popUp">
                                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                    <div class="d-flex align-items-center">
                                        <div class="cell-line-height">
                                                <a class="line-height-1 mb-0"
                                                [routerLink]="['/planta/operaciones/servicios-edit', row.ServicioPlantaId]">{{
                                                name }}</a>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <!--<ngx-datatable-column name="Numero" prop="Numero" width="120" *ngIf="!popUp">
                                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                  <div class="d-flex align-items-center">
                                    <div class="cell-line-height">
                                      <a class="line-height-1 mb-0" routerLink="/planta/operaciones/Servicios-edit"
                                        [queryParams]="{ id: row.ServicioPlantaId, status: row.EstadoId}">{{ name }}</a>
                                    </div>
                                  </div>
                                </ng-template>
                              </ngx-datatable-column>-->

                            <ngx-datatable-column name="Numero" prop="Numero" width="90" *ngIf="popUp">
                            </ngx-datatable-column>   
                            <ngx-datatable-column name="Nro Operacion" prop="NumeroOperacionRelacionada" width="90">
                            </ngx-datatable-column>                          
                            <ngx-datatable-column name="TipoServicio" prop="TipoServicio" width="60">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Tipo Comprobante" prop="TipoComprobante" width="60">
                            </ngx-datatable-column>                            
                            <ngx-datatable-column name="Serie Comprobante" prop="SerieComprobante" width="60">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Numero Comprobante" prop="NumeroComprobante" width="60">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Razon Social" prop="RazonSocialEmpresaCliente" width="60">
                            </ngx-datatable-column> 
                            <ngx-datatable-column name="Ruc" prop="RucEmpresaCliente" width="60">
                            </ngx-datatable-column> 
                            <ngx-datatable-column name="Nro Documento" prop="NumeroDocumento" width="60">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Serie Documento" prop="SerieDocumento" width="60">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Fecha Documento" prop="FechaDocumento" width="60">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Cantidad" prop="Cantidad" width="60">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Precio Unitario" prop="PrecioUnitario" width="60">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Unidad Medida" prop="UnidadMedida" width="60">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Importe" prop="Importe" width="60">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Porcentajes" prop="PorcentajeTIRB" width="60">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Total Importe" prop="TotalImporte" width="60">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Observaciones" prop="Observaciones" width="60">
                            </ngx-datatable-column>
                            <!--ngx-datatable-column name="Fecha Registro" prop="FechaRegistro" width="60">
                            </ngx-datatable-column>-->
                       



                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  