<div class="row">
    <div class="col-12">
        <div class="content-header">Correlativo Planta</div>
    </div>
</div>
<form class="needs-validation" novalidate [formGroup]="CorrelativoEditForm">
   
    <div class="card border-dark mb-3">
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-4 mb-4 form-group mb-2">
                  <label for="validationTooltip04">Campaña</label>
                  <input type="text" minlength="1" maxlength="20" formControlName="Campanha" class="form-control"
                    id="validationTooltip04" placeholder="Campaña"
                    [ngClass]="{ 'is-invalid': submittedEdit && f.Campanha.invalid, 'is-valid': submittedEdit &&  !f.Campanha.invalid }">
                 
                </div>
                
                <div class="col-md-4 mb-4 form-group mb-2">
                  <label for="validationTooltip08">Codigo Tipo</label>
                  <input type="text" minlength="1" maxlength="20" formControlName="CodigoTipo"
                    class="form-control" id="validationTooltip08" placeholder="Codigo Tipo"
                    [ngClass]="{ 'is-invalid': submittedEdit && f.CodigoTipo.invalid, 'is-valid': submittedEdit && !f.CodigoTipo.invalid }">
                 
                </div>
                <div class="col-md-4 mb-4 form-group mb-2">
                  <label for="validationTooltip06">Codigo Tipo Concepto</label>
                  <input type="text" minlength="1" maxlength="20" formControlName="CodigoTipoConcepto" class="form-control"
                    id="validationTooltip06" placeholder="Codigo Tipo Concepto"
                    [ngClass]="{ 'is-invalid': submittedEdit && f.CodigoTipoConcepto.invalid, 'is-valid': submittedEdit && !f.CodigoTipoConcepto.invalid }">
            
                </div>
              </div>


              <div class="form-row">
                <div class="col-md-4 mb-4 form-group mb-2">
                  <label for="validationTooltip04">Cantidad Digitos Planta</label>
                  <input type="text" minlength="1" maxlength="20" formControlName="CantidadDigitosPlanta" class="form-control"
                    id="validationTooltip04" placeholder="Cantidad Digitos Planta"
                    [ngClass]="{ 'is-invalid': submittedEdit && f.CantidadDigitosPlanta.invalid, 'is-valid': submittedEdit &&  !f.CantidadDigitosPlanta.invalid }">
         
                </div>
                
                <div class="col-md-4 mb-4 form-group mb-2">
                  <label for="validationTooltip08">Prefijo</label>
                  <input type="text" minlength="1" maxlength="20" formControlName="Prefijo"
                    class="form-control" id="validationTooltip08" placeholder="Prefijo"
                    [ngClass]="{ 'is-invalid': submittedEdit && f.Prefijo.invalid, 'is-valid': submittedEdit && !f.Prefijo.invalid }">
                 
                </div>
                <div class="col-md-4 mb-4 form-group mb-2">
                  <label for="validationTooltip06">Contador</label>
                  <input type="text" minlength="1" maxlength="20" formControlName="Contador" class="form-control"
                    id="validationTooltip06" placeholder="Contador"
                    [ngClass]="{ 'is-invalid': submittedEdit && f.Contador.invalid, 'is-valid': submittedEdit && !f.Contador.invalid }">
               
                </div>
              </div>


              <div class="form-row">
                <div class="col-md-4 mb-4 form-group mb-2">
                  <label for="validationTooltip04">Tipo</label>
                  <input type="text" minlength="1" maxlength="100" formControlName="Tipo" class="form-control"
                    id="validationTooltip04" placeholder="Tipo"
                    [ngClass]="{ 'is-invalid': submittedEdit && f.Tipo.invalid, 'is-valid': submittedEdit &&  !f.Tipo.invalid }">
            
                </div>
                
                <div class="col-md-4 mb-4 form-group mb-2">
                  <label for="validationTooltip08">Concepto</label>
                  <input type="text" minlength="1" maxlength="100" formControlName="Concepto"
                    class="form-control" id="validationTooltip08" placeholder="Concepto"
                    [ngClass]="{ 'is-invalid': submittedEdit && f.Concepto.invalid, 'is-valid': submittedEdit && !f.Concepto.invalid }">
   
                </div>
                <div class="col-md-4 mb-4 form-group mb-2">
                  <label for="validationTooltip12">Activo</label>
                  <ng-select [items]="listActivo"formControlName="Activo" class="form-control" bindLabel="Label"
                    bindValue="Codigo" id="validationTooltip12" placeholder="Activo"
                    [ngClass]="{ 'is-invalid': submittedEdit&& f.Activo.valid, 'is-valid': submittedEdit && !f.Activo.valid }"
                    [(ngModel)]="selectedActivo">
                  </ng-select>
                </div>
               <!--- <div class="col-md-4 mb-4 form-group mb-2">
                  <label for="validationTooltip06">Activo</label>
                  <input type="text" minlength="1" maxlength="20" formControlName="Activo" class="form-control"
                    id="validationTooltip06" placeholder="Activo"
                    [ngClass]="{ 'is-invalid': submittedEdit && f.Activo.invalid, 'is-valid': submittedEdit && !f.Activo.invalid }">
         
                </div>-->
              </div>
       
            <div class="row">
                <small *ngIf="errorGeneral.isError" class="form-text danger text-muted">
                    {{errorGeneral.errorMessage}}
                </small>
            </div>
        </div>
        <div class="card-footer text-right">
            <button class="btn btn-primary" (click)="Guardar()" [disabled]="readonly==true">Guardar</button>
            <button class="btn btn-danger ml-1" (click)="Cancel()">Cancelar</button>
        </div>
    </div>
</form>
<div class="d-flex justify-content-center">
    <ngx-spinner></ngx-spinner>
</div>