<div class="card">
    <div class="card-header text-center">
        DATOS ADICIONALES DE LA FINCA
    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate [formGroup]="socioFincaEditForm">
            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group row">
                        <label for="finca" class="col-4 col-form-label pr-0">Finca</label>
                        <div class="col-8">
                            <ng-select [items]="listFincas" formControlName="finca" class="form-control"
                                bindLabel="Nombre" bindValue="ProductorFincaId" id="finca"
                                placeholder="Seleccionar finca" [(ngModel)]="selectedFinca"
                                [ngClass]="{ 'is-invalid': f.finca.invalid, 'is-valid': !f.finca.invalid }">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group row">
                        <label for="estado" class="col-4 col-form-label pr-0">Estado</label>
                        <div class="col-8">
                            <ng-select [items]="listEstados" formControlName="estado" class="form-control"
                                bindLabel="Label" bindValue="Codigo" id="estado" placeholder="Seleccionar estado"
                                [(ngModel)]="selectedEstado"
                                [ngClass]="{ 'is-invalid': f.estado.invalid, 'is-valid': !f.estado.invalid }"
                                [readonly]="!vId || vId <= 0">
                            </ng-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group row">
                        <label for="viasAcceso" class="col-4 col-form-label pr-0">Vias de acceso</label>
                        <div class="col-8">
                            <input type="text" name="viasAcceso" id="viasAcceso" formControlName="viasAcceso"
                                [ngClass]="{ 'is-invalid': f.viasAcceso.invalid, 'is-valid': !f.viasAcceso.invalid }"
                                class="form-control" placeholder="Ingresar vias de acceso del centro de acopio">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group row">
                        <label for="distanciaKM" class="col-4 col-form-label pr-0">Distancia KM</label>
                        <div class="col-8">
                            <input type="number" name="distanciaKM" id="distanciaKM" formControlName="distanciaKM"
                                [ngClass]="{ 'is-invalid': f.distanciaKM.invalid, 'is-valid': !f.distanciaKM.invalid }"
                                class="form-control text-right" placeholder="Ingresar distancia KM">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group row">
                        <label for="tiempoTotal" class="col-4 col-form-label pr-0">Tiempo Total</label>
                        <div class="col-8">
                            <input type="number" name="tiempoTotal" id="tiempoTotal" formControlName="tiempoTotal"
                                [ngClass]="{ 'is-invalid': f.tiempoTotal.invalid, 'is-valid': !f.tiempoTotal.invalid }"
                                class="form-control text-right" placeholder="Ingresar tiempo total">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group row">
                        <label for="medioTransporte" class="col-4 col-form-label pr-0">Med. Transporte</label>
                        <div class="col-8">
                            <input type="text" name="medioTransporte" id="medioTransporte"
                                formControlName="medioTransporte"
                                [ngClass]="{ 'is-invalid': f.medioTransporte.invalid, 'is-valid': !f.medioTransporte.invalid }"
                                class="form-control" placeholder="Ingresar medio de transporte">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group row">
                        <label for="cultivo" class="col-4 col-form-label pr-0">Cultivo</label>
                        <div class="col-8">
                            <input type="text" name="cultivo" id="cultivo" formControlName="cultivo"
                                [ngClass]="{ 'is-invalid': f.cultivo.invalid, 'is-valid': !f.cultivo.invalid }"
                                class="form-control" placeholder="Ingresar cultivo">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group row">
                        <label for="precipitacion" class="col-4 col-form-label pr-0">Precipitación</label>
                        <div class="col-8">
                            <input type="text" name="precipitacion" id="precipitacion" formControlName="precipitacion"
                                [ngClass]="{ 'is-invalid': f.precipitacion.invalid, 'is-valid': !f.precipitacion.invalid }"
                                class="form-control" placeholder="Ingresar presipitación">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group row">
                        <label for="nroPersonalCosecha" class="col-6 col-form-label pr-0">N° personal en cosecha</label>
                        <div class="col-6">
                            <input type="number" name="nroPersonalCosecha" id="nroPersonalCosecha"
                                formControlName="nroPersonalCosecha"
                                [ngClass]="{ 'is-invalid': f.nroPersonalCosecha.invalid, 'is-valid': !f.nroPersonalCosecha.invalid }"
                                class="form-control text-right" placeholder="Ingresar número personal en cosecha">
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="card">
            <div class="card-body">
                <div class="row mb-1">
                    <div class="col-lg-7"></div>
                    <div class="col-lg-5">
                        <button class="btn btn-sm btn-primary" type="button" (click)="addRow()">Agregar Fila</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7"></div>
                    <div class="col-lg-5">
                        <ngx-datatable class="bootstrap core-bootstrap" [rows]="rows">

                            <ngx-datatable-column [sortable]="false">
                                <ng-template ngx-datatable-cell-template let-row=" row" let-anio="value"
                                    let-rowIndex="rowIndex">
                                    <div class="d-flex align-items-center text-center"
                                        *ngIf="row.SocioFincaEstimadoId <= 0 || !row.SocioFincaEstimadoId">
                                        <button type="button" class="btn btn-sm btn-primary"
                                            (click)="EliminarFila(rowIndex)">Eliminar</button>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Año" prop="Anio" [sortable]="false">
                                <ng-template ngx-datatable-cell-template let-row=" row" let-anio="value"
                                    let-rowIndex="rowIndex">
                                    <div class="d-flex align-items-center">
                                        <input type="number" autofocus class="form-control form-control-sm text-right"
                                            (blur)="UpdateValue($event, rowIndex, 'anio')" value="{{anio}}">
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Estimado (Kilos)" prop="Estimado" [sortable]="false">
                                <ng-template let-row=" row" let-estimado="value" ngx-datatable-cell-template
                                    let-rowIndex="rowIndex">
                                    <div class="d-flex align-items-center">
                                        <input type="number" autofocus class="form-control form-control-sm text-right"
                                            (blur)="UpdateValue($event, rowIndex, 'estimado')" aria-valuemin=""
                                            value="{{estimado}}">
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Consumido (Kilos)" prop="Consumido" [sortable]="false">
                                <ng-template let-row=" row" let-saldo="value" ngx-datatable-cell-template
                                    let-rowIndex="rowIndex">
                                    <div class="d-flex align-items-center">
                                        <input type="number" autofocus class="form-control form-control-sm text-right"
                                            (blur)="UpdateValue($event, rowIndex, 'saldo')" aria-valuemin=""
                                            [readonly]="true" value="{{saldo}}">
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>

                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <button class="btn btn-primary mr-1" (click)="Save()">Guardar</button>
        <button class="btn btn-secondary" (click)="Cancel()">Cancelar</button>
    </div>
</div>