<div class="row">
    <div class="col-12">
        <div class="content-header">Correlativo Planta</div>
    </div>
</div>

<section id="tooltip-validation">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form class="needs-validation" [formGroup]="Correlativoplantaform" novalidate>
                            <div class="form-row">
                     

                                  <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="validationTooltip12">Tipo</label>
                                    <ng-select [items]="listaTipo" formControlName="codigoTipo" class="form-control" bindLabel="Label"
                                      bindValue="Codigo" id="validationTooltip12" placeholder="Seleccione Tipo"
                                      (change)="changeTipos($event)"
                                      [ngClass]="{ 'is-invalid': submitted && f.Tipo.invalid, 'is-valid': submitted && !f.Tipo.invalid }"
                                      [(ngModel)]="selectedTipo">
                                    </ng-select>
                                  </div>
                                  <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="validationTooltip12">Concepto</label>
                                    <ng-select [items]="listaConcepto" formControlName="CodigoConcepto" class="form-control" bindLabel="Label"
                                      bindValue="Codigo" id="validationTooltip12" placeholder="Descripcion"
                                      [ngClass]="{ 'is-invalid': submitted && f.Concepto.invalid, 'is-valid': submitted && !f.Concepto.invalid }"
                                      [(ngModel)]="selectedConcepto">
                                    </ng-select>
                                  </div>
                                  <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="validationTooltip12">Campaña</label>
                                    <ng-select [items]="listaCampania" formControlName="campanhnia" class="form-control" bindLabel="Label"
                                      bindValue="Codigo" id="validationTooltip12" placeholder="Seleccione un Año"
                                      [ngClass]="{ 'is-invalid': submitted && f.campania.valid, 'is-valid': submitted && !f.campania.valid }"
                                      [(ngModel)]="selectedCampania">
                                    </ng-select>
                                  </div>
                                  <div class="col-md-4 mb-4 form-group mb-2">
                                    <label for="validationTooltip12">Activo</label>
                                    <ng-select [items]="listaActivo" formControlName="activo" class="form-control" bindLabel="Label"
                                      bindValue="Codigo" id="validationTooltip12" placeholder="Seleccione Estado"
                                      [ngClass]="{ 'is-invalid': submitted && f.Activo.valid, 'is-valid': submitted && !f.Activo.valid }"
                                      [(ngModel)]="selectedActivo">
                                    </ng-select>
                                  </div>
                          

                            </div>

                            <small class="form-text text-muted danger mb-1"
                                *ngIf="errorGeneral.isError">{{errorGeneral.msgError}}</small>
                   
                                <button class="btn btn-primary mr-1 mb-1" type="button" (click)="Buscar()" [disabled]="readonly==false">Buscar</button>
                            <button class="btn btn-primary mr-1 mb-1" type="button" (click)="Nuevo()" [disabled]="readonly==false">Nuevo</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="d-flex justify-content-between align-items-center">
    <ngx-spinner></ngx-spinner>
</div>


<section id="ngx-datatable-filter">
    <div class="row">
        <div class="col-12">
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <fieldset class="form-group">
                            <label>Show
                                <select name="users-list-select"
                                    class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                                    (click)="updateLimit($event)">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label>
                            <label for="ngx-filter-ref" class="float-right">Search:
                                <input id="ngx-filter-ref"
                                    class="form-control form-control-sm d-inline-block width-200 ml-1" type="text"
                                    (keyup)="filterUpdate($event)" />
                            </label>
                        </fieldset>
                        <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" rowHeight="auto" [limit]="limitRef" [rows]="rows" [scrollbarH]="false"
                            [selected]="selected" [selectionType]="'single'" [selectCheck]="onSelectCheck">
                            
                            <ngx-datatable-column name="CorrelativoPlantaId" prop="CorrelativoPlantaId" width="90">
                                <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                                    <div class="d-flex align-items-center">
                                        <div class="cell-line-height">
                                            <a class="line-height-1 mb-0" routerLink="/acopio/operaciones/correlativoplanta-edit"
                                                [queryParams]="{ id: row.CorrelativoPlantaId}">{{
                                                name }}</a>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Campaña"prop="Campanha" width="80">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="CodigpTipo"prop="CodigoTipo" width="80">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="CodigoTipoConcepto"prop="CodigoTipoConcepto" width="80">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="CantidadDigitosPlanta"prop="CantidadDigitosPlanta" width="80">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Prefijo"prop="Prefijo" width="80">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Contador"prop="Contador" width="80">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Tipo"prop="Tipo" width="80">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Concepto"prop="Concepto" width="80">
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Estado"prop="ActivoNombre" width="80">
                            </ngx-datatable-column>
                            

                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>