<div id="account">
    <form style="display: flex;">
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="row">
                    <div class="col-12">
                        <div class="font-calidad group-control-calidad">
                            <div class="item-control-calidad">
                                <h5 class="mt-0" style="text-align: center;">Análisis Físico</h5>
                                <div class="row">
                                    
                                    <div class="table-responsive">
                                        <table class="table-calidad font-calidad">
                                            <thead>
                                                <tr>
                                                    <th colspan="3">RENDIMIENTO EXPORTABLE</th>
                                                    
                                                </tr>
                                                <tr>
                                                    <th>DETALLE</th>
                                                    <th>GRAMOS</th>
                                                    <th>%</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Exportable</td>
                                                    <td style="border-left: 1px solid #E0E0E0;"><input type="text"
                                                            class="form-control square" id="basicInput"></td>
                                                    <td style="border-left: 1px solid #E0E0E0;"><input type="text"
                                                            class="form-control square" id="basicInput"></td>
                                                </tr>
                                                <tr>
                                                    <td>Descarte</td>
                                                    <td style="border-left: 1px solid #E0E0E0;"><input type="text"
                                                            class="form-control square" id="basicInput"></td>
                                                    <td style="border-left: 1px solid #E0E0E0;"><input type="text"
                                                            class="form-control square" id="basicInput"></td>
                                                </tr>
                                                <tr>
                                                    <td>Cascarilla</td>
                                                    <td style="border-left: 1px solid #E0E0E0;"><input type="text"
                                                            class="form-control square" id="basicInput"></td>
                                                    <td style="border-left: 1px solid #E0E0E0;"><input type="text"
                                                            class="form-control square" id="basicInput"></td>
                                                </tr>
                                                <tr class="td-total">
                                                    <td>Total</td>
                                                    <td style="border-left: 1px solid #E0E0E0;"><input type="text"
                                                            style="border: 0; height: 1rem;" class="form-control square"
                                                            id="basicInput"></td>
                                                    <td style="border-left: 1px solid #E0E0E0;"><input type="text"
                                                            style="border: 0; height: 1rem;" class="form-control square"
                                                            id="basicInput"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group row" style="margin-top: 1rem;">
                                            <label class="col-md-4 col-form-label card-text" for="horizontal-form-1">% Humedad</label>
                                            <div class="col-md-8">
                                              <input type="text" class="form-control square" id="horizontal-form-1"
                                                name="first-name">
                                            </div>
                                    </div>
                                </div>

                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6 table-2">
                                        <table class="table-calidad font-calidad">
                                            <thead>
                                                <tr>
                                                    <th>OLOR</th>
                                                    <th>SELECCION</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of listaOlor">
                                                    <td style="width: 7rem;"> {{ item.Label }}</td>
                                                    <td style="border-left: 1px solid #E0E0E0;"><input type="text"
                                                            class="form-control square" id="basicInput"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-12 col-md-6 table-2">
                                        <table class="table-calidad font-calidad">
                                            <thead>
                                                <tr>
                                                    <th>COLOR</th>
                                                    <th>SELECCION</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of listaColor">
                                                    <td style="width: 9rem;"> {{ item.Label }}</td>
                                                    <td style="border-left: 1px solid #E0E0E0;"><input type="text"
                                                            class="form-control square" id="basicInput"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="cold-12">
                                    <label for="basicInput" style="font-size: 0.7rem;">Observaciones</label>
                                    <div class="position-relative has-icon-left textarea">
                                        <textarea id="bordered-form-6" rows="4" class="form-control" name="notes"></textarea>
                                        <div class="form-control-position">
                                            <i class="ft-file"></i>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-12">
                        <div class="font-calidad group-control-calidad">
                            <div class="item-control-calidad">
                                <h5 class="mt-0" style="text-align: center;">Registro de Tostado</h5>
                                <div class="row">
                                        <table class="table-calidad font-calidad">
                                            <thead>
                                                <tr>
                                                    <th>INDICADOR</th>
                                                    <th>VALOR</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of listaIndicadorTostado">
                                                    <td style="width: 14rem;"> {{ item.Label }}</td>
                                                    <td style="border-left: 1px solid #E0E0E0;"><input type="text"
                                                            class="form-control square" id="basicInput"></td>
                                                </tr>
                                            </tbody>
                                        </table>


                                  
                                </div>
                                <div class="row">
                                    <div class="cold-12">
                                    <label for="basicInput" style="font-size: 0.7rem;">Observaciones</label>
                                    <div class="position-relative has-icon-left textarea">
                                        <textarea id="bordered-form-6" rows="4" class="form-control" name="notes"></textarea>
                                        <div class="form-control-position">
                                            <i class="ft-file"></i>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>








            <div class="col-12 col-md-7">
                <div class="row">
                    <div class="col-12">
                    <div class="font-calidad group-control-calidad">
                        <div class="item-control-calidad">
                            <h5 class="mt-0" style="text-align: center;">Equivalencias de Defectos (SCA)</h5>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="table-responsive">
                                    <table class="table-calidad font-calidad">
                                        <thead>
                                            <tr>
                                                <th colspan="3">DEFECTOS PRIMARIOS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of listaDefectosPrimarios">
                                                <td style="width: 6rem;"> {{ item.Label }}</td>
                                                <td style="border-left: 1px solid #E0E0E0; width: 3rem;"> {{ item.Val1 }}</td>
                                                <td style="border-left: 1px solid #E0E0E0;"><input type="text"
                                                        class="form-control square" id="basicInput"></td>
                                            </tr>
                                            <tr class="td-total">
                                                <td colspan="2" >SubTotal</td>
                                                <td>0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="table-responsive">
                                    <table class="table-calidad font-calidad">
                                        <thead>
                                            <tr>
                                                <th colspan="3">DEFECTOS SECUNDARIOS</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let item of listaDefectosSecundarios">
                                                <td style="width: 6rem;"> {{ item.Label }}</td>
                                                <td style="border-left: 1px solid #E0E0E0; width: 3rem;"> {{ item.Val1 }}</td>
                                                <td style="border-left: 1px solid #E0E0E0;"><input type="text"class="form-control square" id="basicInput"></td>
                                            </tr>
                                            <tr class="td-total">
                                                <td colspan="2">SubTotal</td>
                                                <td>0</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                    <div class="font-calidad group-control-calidad">
                        <div class="item-control-calidad">
                            <h5 class="mt-0" style="text-align: center;">Análisis Sensorial</h5>
                            <div class="row">
                            
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table-calidad font-calidad">
                                        <thead>
                                            <tr>
                                                <th rowspan="2">ATRIBUTOS</th>
                                                <th colspan="2">CLASIFICACION</th>
                                            </tr>
                                            <tr>
                                                <th>VALOR</th>
                                                <th>RANKING</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of listaSensorialAtributos">
                                                <td style="width: 12rem;"> {{ item.Label }}</td>
                                                <td style="border-left: 1px solid #E0E0E0;"><input type="text"
                                                        class="form-control square" id="basicInput"></td>
                                                <td style="width: 4rem;"> Muy Bueno </td>
                                            </tr>
                                            <tr class="td-total">
                                                <td> Puntaje Final </td>
                                                <td> </td>
                                                <td> </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            
                            </div>
                            <div class="row" style="margin-top: 1rem;">
                                <div class="col-12">
                                    <h5 class="mt-0" style="text-align: start; font-size: 0.9rem;">Defectos Graves</h5>
                                    <div class="row">
                                        <ul class="list-unstyled mb-0" *ngFor="let item of listaSensorialDefectos">
                                            <li class="d-inline-block mr-2 mb-2" style="width: 8rem;">
                                                <div class="checkbox">
                                                    <input type="checkbox" id="checkbox1">
                                                    <label for="checkbox1" class="label-checkbox"><span>{{ item.Label }}</span></label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <div class="cold-12">
                                        <label for="basicInput" style="font-size: 0.7rem;">Observaciones</label>
                                        <div class="position-relative has-icon-left textarea2">
                                            <textarea id="bordered-form-6" rows="3" class="form-control" name="notes"></textarea>
                                            <div class="form-control-position">
                                                <i class="ft-file"></i>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

            </div>
            <button class="btn btn-primary mr-1 mb-1" type="submit">Guardar</button>
            <button class="btn btn-primary mr-1 mb-1" type="submit">Cancelar</button>
        </div>
    </form>
</div>