<div class="mt-2" id="account">
    <form>
        <div class="row">
            <div class="col-12 col-md-4">
                <ul class="list-group" id="multiple-list-group-a">
                    <li class="list-group-item draggable">
                        <div class="media">
                            <div class="media-body">
                                <h5 class="mt-0" style="text-align: center;">Analisis Fisico
                                </h5>
                                <div class="form-group row"
                                    style="background-color: #F7F7F8; text-align: center;margin-left: 1rem; margin-right: 1rem;">
                                    <label class="col-md-4 col-form-label" for="horizontal-form-1">Detalle</label>
                                    <label class="col-md-4 col-form-label" for="horizontal-form-1">Gramos</label>
                                    <label class="col-md-4 col-form-label" for="horizontal-form-1">%</label>
                                </div>
                                <div class="form-group row" style="margin-left: 1rem; margin-right: 1rem;">
                                    <label class="col-md-4 col-form-label card-text"
                                        for="horizontal-form-1">Exportable</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control square" id="horizontal-form-1"
                                            name="first-name">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control square" id="horizontal-form-1"
                                            name="first-name">
                                    </div>
                                </div>
                                <div class="form-group row" style="margin-left: 1rem; margin-right: 1rem;">
                                    <label class="col-md-4 col-form-label"
                                        for="horizontal-form-1 card-text">Descarte</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control square" id="horizontal-form-1"
                                            name="first-name">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control square" id="horizontal-form-1"
                                            name="first-name">
                                    </div>
                                </div>
                                <div class="form-group row" style="margin-left: 1rem; margin-right: 1rem;">
                                    <label class="col-md-4 col-form-label card-text"
                                        for="horizontal-form-1">Cascarilla</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control square" id="horizontal-form-1"
                                            name="first-name">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control square" id="horizontal-form-1"
                                            name="first-name">
                                    </div>
                                </div>
                                <div class="form-group row"
                                    style="background-color: #F7F7F8; text-align: center;margin-left: 1rem; margin-right: 1rem;">
                                    <label class="col-md-4 col-form-label" for="horizontal-form-1">Total</label>
                                    <label class="col-md-4 col-form-label" for="horizontal-form-1">0.00</label>
                                    <label class="col-md-4 col-form-label" for="horizontal-form-1">0%</label>
                                </div>
                                <div class="form-group row"
                                    style="background-color: #F7F7F8; text-align: center;margin-left: 1rem; margin-right: 1rem;">
                                    <label class="col-md-4 col-form-label" for="horizontal-form-1">%Humedad</label>
                                    <label class="col-md-8 col-form-label" for="horizontal-form-1">11.50%</label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-8">
                <div class="row">
                    <div class="table-responsive col-12">
                      <table class="table mt-3">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Item &amp; Description</th>
                            <th class="text-right">Rate</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>
                              <p>Create PSD for mobile APP</p>
                            </td>
                            <td class="text-right">$20.00/hr</td>
                            
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>
                              <p>iOS Application Development</p>
                              
                            </td>
                            <td class="text-right">$25.00/hr</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>
                              <p>WordPress Template Development</p>
                              
                            </td>
                            <td class="text-right">$20.00/hr</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

            </div>
        </div>
       

    </form>
</div>