
<div class="row">
	<div class="col-12">
		<div class="content-header">Bandeja de Guia de Recepcción de Materia Prima</div>
	</div>
</div>


<section id="tooltip-validation">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <form class="needs-validation" [formGroup]="consultaMateriaPrimaForm" >
              <div class="form-row">
                <div class="col-md-4 mb-4 form-group mb-2">
                  <label for="validationTooltip04">Nro de Guia</label>
                  <input type="text" minlength="5" maxlength="20" formControlName="numeroGuia" class="form-control" id="validationTooltip04" placeholder="Nro de Guia"
                  [ngClass]="{ 'is-invalid': submitted && f.numeroGuia.invalid, 'is-valid': submitted &&  !f.numeroGuia.invalid }" >
                 <!-- <div *ngIf="submitted && !f.numeroGuia.errors?.required" class="valid-tooltip">Numero de guia correcto!</div> 
                 <div *ngIf="submitted && (f.numeroGuia.invalid || f.numeroGuia.errors?.required)" class="invalid-tooltip">Ingre una Guia</div>  -->
                 <small class="form-text text-muted danger" *ngIf="f.numeroGuia.errors?.minlength">Ingrese 5 a 20 letras</small>
                 <small class="form-text text-muted danger" *ngIf="f.numeroGuia.errors?.maxlength">Ingrese 5 a 20 letras</small>
                 <small class="form-text text-muted danger" *ngIf="f.numeroGuia.errors?.pattern">Solo letras y números</small>
                </div>
                <div class="col-md-4 mb-4 form-group mb-2" >
                  <label for="validationTooltip05">Tipo Documento</label>
                  <ng-select [items]="listaTipoDocumento" formControlName="tipoDocumento"  class="form-control"
                             bindLabel="Label" bindValue="Codigo" id="validationTooltip05" placeholder="Tipo Documento"
                             [ngClass]="{ 'is-invalid': submitted && f.tipoDocumento.invalid, 'is-valid': submitted && !f.tipoDocumento.invalid }"
                             [(ngModel)]="selectedTipoDocumento" > 
                  </ng-select>
                  <!-- <div *ngIf="submitted && !f.tipoDocumento.errors?.required" class="valid-tooltip">Looks good!</div> -->
                
                  
                </div>
                <div class="col-md-4 mb-4 form-group mb-2">
                  <label for="validationTooltip06">Nombre/Raz.Social</label>
                  <input type="text"  minlength="5" maxlength="20" formControlName="nombre" class="form-control" id="validationTooltip06" placeholder="nombre"
                  [ngClass]="{ 'is-invalid': submitted && f.nombre.invalid, 'is-valid': submitted && !f.nombre.invalid }" >
                  <!-- <div *ngIf="submitted && (f.nombre.invalid || f.nombre.errors?.required)" class="invalid-tooltip">Ingre un nombre</div> -->
                  <small class="form-text text-muted danger" *ngIf="f.nombre.errors?.minlength">Ingrese 5 a 20 letras</small>
                  <small class="form-text text-muted danger" *ngIf="f.nombre.errors?.maxlength">Ingrese 5 a 20 letras</small>
                </div>
              </div> 


              <div class="form-row">
                <div class="col-md-4 mb-4 form-group mb-2">
                  <label for="validationTooltip04">Fecha Inicio</label>
                  <input type="date" class="form-control" formControlName="fechaInicio" id="validationTooltip07"  name="fechaInicio"  placeholder="date" date 
                  [ngClass]="{ 'is-invalid': submitted && f.fechaInicio.invalid, 'is-valid': submitted && !f.fechaInicio.invalid }"  />
                  <!-- <small class="form-text text-muted danger" *ngIf="f.fechaInicio.errors?.fromToDate">minDate error</small> -->
                  <!-- <div class="input-group">
                    <input class="form-control" formControlName="fechaInicio"  id="validationTooltip07"
                     placeholder="dd-mm-yyyy" name="fechaInicio" [(ngModel)]="fechaInicio" ngbDatepicker
                    #d1="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && f.fechaInicio.invalid, 'is-valid': submitted && !f.fechaInicio.invalid }" >
                    <div class="input-group-append">
                      <div class="input-group-text" (click)="d1.toggle()">
                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div *ngIf="submitted && !f.fechaInicio.errors?.required" class="valid-tooltip">Looks good!</div>
                  <div *ngIf="submitted && (f.fechaInicio.invalid || f.fechaInicio.errors?.required)" class="invalid-tooltip">Ingre una fecha</div> -->
                </div>
                <div class="col-md-4 mb-4 form-group mb-2">
                  <label for="validationTooltip08">Numero Documento</label>
                  <input type="text"  minlength="8" maxlength="20"  formControlName="numeroDocumento" class="form-control" id="validationTooltip08" placeholder="Numero Documento"
                  [ngClass]="{ 'is-invalid': submitted && f.numeroDocumento.invalid, 'is-valid': submitted && !f.numeroDocumento.invalid }" >
                  <!-- <div *ngIf="submitted && (f.numeroDocumento.invalid || f.numeroDocumento.errors?.required)" class="invalid-tooltip">Ingre un nombre</div> -->
                  <small class="form-text text-muted danger" *ngIf="f.numeroDocumento.errors?.minlength">Ingrese 8 a 20 letras</small>
                  <small class="form-text text-muted danger" *ngIf="f.numeroDocumento.errors?.maxlength">Ingrese 8 a 20 letras</small>

                </div>
                <div class="col-md-4 mb-4 form-group mb-2">
                  <label for="validationTooltip09">Estado</label>
                  <ng-select [items]="listaEstado" formControlName="estado" class="form-control"
                             bindLabel="Label" bindValue="Codigo" id="validationTooltip09" placeholder="Estado"
                             [ngClass]="{ 'is-invalid': submitted && f.estado.invalid, 'is-valid': submitted && !f.estado.invalid }"
                             [(ngModel)]="selectedEstado" > 
                  </ng-select>
                  <!-- <div *ngIf="submitted && !f.estado.errors?.required" class="valid-tooltip">Looks good!</div> -->
                </div>
              </div> 

              <div class="form-row">
                <div class="col-md-4 mb-4 form-group mb-2">
                  <label for="validationTooltip10">Fecha Fin</label>
                  <input type="date" class="form-control"  formControlName="fechaFin"  id="validationTooltip10"  name="fechaFin"  placeholder="date" date 
                  [ngClass]="{ 'is-invalid': submitted && f.fechaFin.invalid, 'is-valid': submitted && !f.fechaFin.invalid }"  />
                  <!-- <small class="form-text text-muted danger" *ngIf="f.fechaFin.errors?.fromToDate">maxDate error</small> -->
                  <!-- <div class="input-group">
                    <input class="form-control" formControlName="fechaFin"  id="validationTooltip10"
                      placeholder="dd-mm-yyyy" name="fechaFin" [(ngModel)]="fechaFin" ngbDatepicker
                    #d2="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && f.fechaFin.invalid, 'is-valid': submitted && !f.fechaFin.invalid }" >
                    <div class="input-group-append">
                      <div class="input-group-text" (click)="d2.toggle()">
                        <i class="fa fa-calendar" style="cursor: pointer;"></i>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div *ngIf="submitted && !f.fechaInicio.errors?.required" class="valid-tooltip">Looks good!</div>
                  <div *ngIf="submitted && (f.fechaInicio.invalid || f.fechaInicio.errors?.required)" class="invalid-tooltip">Ingre una fecha</div> -->
                </div>
                <div class="col-md-4 mb-4 form-group mb-2">
                  <label for="validationTooltip11">Codigo Socio</label>
                  <input type="text" minlength="5" maxlength="20" formControlName="codigoSocio" class="form-control" id="validationTooltip11" placeholder="Codigo Socio"
                  [ngClass]="{ 'is-invalid': submitted && f.codigoSocio.invalid, 'is-valid': submitted && !f.codigoSocio.invalid }" >
                  <!-- <div *ngIf="submitted && (f.codigoSocio.invalid || f.codigoSocio.errors?.required)" class="invalid-tooltip">Ingre un nombre</div> -->
                  <small class="form-text text-muted danger" *ngIf="f.codigoSocio.errors?.minlength">Ingrese 5 a 20 letras</small>
                  <small class="form-text text-muted danger" *ngIf="f.codigoSocio.errors?.maxlength">Ingrese 5 a 20 letras</small>
                </div>
                <div class="col-md-4 mb-4 form-group">
                
                </div>
              </div>

         
              <button class="btn btn-primary" type="submit" (click)="buscar()">Buscar</button>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Filter Datatables -->
<section id="ngx-datatable-filter">
    <div class="row">
      <div class="col-12">
        <!-- <button class="btn btn-primary" (click)="buscar()">Buscar 2</button> -->
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <!-- ngx-datatable-filter -->
              <fieldset class="form-group">
                <label>Show
                  <select name="users-list-select"
                    class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
                    (click)="updateLimit($event)">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  entries</label>
                <label for="ngx-filter-ref" class="float-right">Search:
                  <input id="ngx-filter-ref" class="form-control form-control-sm d-inline-block width-200 ml-1"
                    type="text" (keyup)="filterUpdate($event)" />
                </label>
              </fieldset>
              <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50"
                [footerHeight]="50" rowHeight="auto" [limit]="limitRef" [rows]="rows" [scrollbarH]="true"
                [columns]="columns">
                <ngx-datatable-column name="Numero Guia" prop="Numero" width="40">

                    <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
                        <div class="d-flex align-items-center">      
                          <div class="cell-line-height">
                            <a class="line-height-1 mb-0" routerLink="/pages/users-view">{{ name }}</a>
                          </div>
                        </div>
                      </ng-template> 
                </ngx-datatable-column>
                <ngx-datatable-column name="Codigo Socio" prop="CodigoSocio" width="30"></ngx-datatable-column>
                <ngx-datatable-column name="Tipo Documento" prop="TipoDocumento" width="30"></ngx-datatable-column>
                <ngx-datatable-column name="Numero Documento" prop="NumeroDocumento" width="50"></ngx-datatable-column>
                <ngx-datatable-column name="Nombre o Razon Social" prop="NombreRazonSocialProveedor" width="120"></ngx-datatable-column>
                <ngx-datatable-column name="Fecha Registro" prop="FechaRegistro" width="30"></ngx-datatable-column>
                <ngx-datatable-column name="Estado" prop="Estado" width="40">
                  <ng-template let-status="value" ngx-datatable-cell-template>
                    <div class="badge" [ngClass]="{
                        'bg-light-success': status == 'PESADO',
                        'bg-light-danger': status == 'ANULADO',
                        'bg-light-warning': status == 'ANALIZADO'
                      }">
                      {{ status }}
                    </div>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
              <!-- ngx-datatable-filter -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Filter Datatables -->

  <!-- <div class="row text-left">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Custom Validations</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form (ngSubmit)="onCustomFormSubmit()" #vform="ngForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-2">
                  <label for="required">required</label>
                  <input type="text" class="form-control" ngModel name="required" #required="ngModel" required placeholder="required" />
                  <small class="form-text text-muted danger" *ngIf="required.errors?.required">required error</small>
  
                </div>
                <div class="form-group mb-2">
                  <label for="minlength">minlength</label>
                  <input type="text" class="form-control" ngModel name="minlength" #minlength="ngModel" placeholder="minlength 5"
                    minlength="5" />
                  <small class="form-text text-muted danger" *ngIf="minlength.errors?.minlength">minlength error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="maxlength">maxlength</label>
                  <input type="text" class="form-control" ngModel name="maxlength" #maxlength="ngModel" placeholder="maxlength 5"
                    maxlength="5" />
                  <small class="form-text text-muted danger" *ngIf="maxlength.errors?.maxlength">required error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="rangelength">rangelength</label>
                  <input type="text" class="form-control" ngModel name="rangelength" #rangelength="ngModel" placeholder="rangeLength [5, 9]"
                    [rangeLength]="[5, 9]" />
                  <small class="form-text text-muted danger" *ngIf="rangelength.errors?.rangeLength">rangelength error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="pattern">pattern</label>
                  <input type="text" class="form-control" ngModel name="pattern" #pattern="ngModel" placeholder="[a-z]{6}"
                    pattern="[a-z]{6}" />
                  <small class="form-text text-muted danger" *ngIf="pattern.errors?.pattern">pattern error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="base64">base64</label>
                  <input type="text" class="form-control" ngModel name="base64" #base64="ngModel" placeholder="base64"
                    base64 />
                  <small class="form-text text-muted danger" *ngIf="base64.errors?.base64">base64 error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="creditCard">creditCard</label>
                  <input type="text" class="form-control" ngModel name="creditCard" #creditCard="ngModel" placeholder="creditCard"
                    creditCard />
                  <small class="form-text text-muted danger" *ngIf="creditCard.errors?.creditCard">creditCard error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="date">date</label>
                  <input type="date" class="form-control" ngModel name="date" #date="ngModel" placeholder="date" date />
                  <small class="form-text text-muted danger" *ngIf="date.errors?.date">date error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="dateISO">dateISO</label>
                  <input type="text" class="form-control" ngModel name="dateISO" #dateISO="ngModel" placeholder="dateISO"
                    dateISO />
                  <small class="form-text text-muted danger" *ngIf="dateISO.errors?.dateISO">dateISO error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="maxDate">maxDate</label>
                  <input type="date" class="form-control" ngModel name="maxDate" #maxDate="ngModel" placeholder="maxDate 2019-11-11"
                    maxDate="2019-11-11" />
                  <small class="form-text text-muted danger" *ngIf="maxDate.errors?.maxDate">maxDate error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="minDate">minDate</label>
                  <input type="date" class="form-control" ngModel name="minDate" #minDate="ngModel" placeholder="minDate 2019-11-11"
                    minDate="2019-11-11" />
                  <small class="form-text text-muted danger" *ngIf="minDate.errors?.minDate">minDate error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="digits">digits</label>
                  <input type="text" class="form-control" ngModel name="digits" #digits="ngModel" placeholder="digits"
                    digits />
                  <small class="form-text text-muted danger" *ngIf="digits.errors?.digits">digits error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="email">email</label>
                  <input type="text" class="form-control" ngModel name="email" #email="ngModel" placeholder="email" email />
                  <small class="form-text text-muted danger" *ngIf="email.errors?.email">email error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="equal">equal</label>
                  <input type="text" class="form-control" ngModel name="equal" #equal="ngModel" placeholder="equal to apex"
                    equal="apex" />
                  <small class="form-text text-muted danger" *ngIf="equal.errors?.equal">equal error</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-2">
                  <label for="notEqual">notEqual</label>
                  <input type="text" class="form-control" ngModel name="notEqual" #notEqual="ngModel" placeholder="not equal to apex"
                    notEqual="apex" />
                  <small class="form-text text-muted danger" *ngIf="notEqual.errors?.notEqual">notEqual error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="password">equalTo</label>
                  <input type="text" class="form-control" ngModel name="password" #password="ngModel" placeholder="password"
                    required />
                  <small class="form-text text-muted danger" *ngIf="password.errors?.required">required error</small>
                </div>
                <div class="form-group mb-2">
                  <input type="text" class="form-control" ngModel name="equalTo" #equalTo="ngModel" placeholder="confirm password"
                    [equalTo]="password" />
                  <small class="form-text text-muted danger" *ngIf="equalTo.errors?.equalTo">equalTo error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="oldPassword">notEqualTo</label>
                  <input type="text" class="form-control" ngModel name="oldPassword" #oldPassword="ngModel" placeholder="password"
                    required />
                  <small class="form-text text-muted danger" *ngIf="oldPassword.errors?.required">required error</small>
                </div>
                <div class="form-group mb-2">
                  <input type="text" class="form-control" ngModel name="notEqualTo" #notEqualTo="ngModel" placeholder="confirm password"
                    [notEqualTo]="oldPassword" />
                  <small class="form-text text-muted danger" *ngIf="notEqualTo.errors?.notEqualTo">notEqualTo error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="gt">gt</label>
                  <input type="text" class="form-control" ngModel name="gt" #gt="ngModel" placeholder="gt 20" gt="20" />
                  <small class="form-text text-muted danger" *ngIf="gt.errors?.gt">gt error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="lt">lt</label>
                  <input type="text" class="form-control" ngModel name="lt" #lt="ngModel" placeholder="lt 10" lt="10" />
                  <small class="form-text text-muted danger" *ngIf="lt.errors?.lt">lt error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="json">json</label>
                  <input type="text" class="form-control" ngModel name="json" #json="ngModel" placeholder="json" json />
                  <small class="form-text text-muted danger" *ngIf="json.errors?.json">json error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="max">max</label>
                  <input type="text" class="form-control" ngModel name="max" #max="ngModel" placeholder="max 10" max="10" />
                  <small class="form-text text-muted danger" *ngIf="max.errors?.max">max error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="min">min</label>
                  <input type="text" class="form-control" ngModel name="min" #min="ngModel" placeholder="min 10" min="10" />
                  <small class="form-text text-muted danger" *ngIf="min.errors?.min">min error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="number">number</label>
                  <input type="text" class="form-control" ngModel name="number" #number="ngModel" placeholder="number"
                    number />
                  <small class="form-text text-muted danger" *ngIf="number.errors?.number">number error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="phone">phone</label>
                  <input type="text" class="form-control" ngModel name="phone" #phone="ngModel" placeholder="phone" phone />
                  <small class="form-text text-muted danger" *ngIf="phone.errors?.phone">phone error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="url">url</label>
                  <input type="text" class="form-control" ngModel name="url" #url="ngModel" placeholder="url" url />
                  <small class="form-text text-muted danger" *ngIf="url.errors?.url">url error</small>
                </div>
                <div class="form-group mb-2">
                  <label for="uuid">uuid</label>
                  <input type="text" class="form-control" ngModel name="uuid" #uuid="ngModel" placeholder="uuid" uuid />
                  <small class="form-text text-muted danger" *ngIf="uuid.errors?.uuid">uuid error</small>
                </div>
              </div>
            </div>
          </form>
  
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
